/* palette */
/* default */
/* background */
/* borders */
/* text */
/* text */
/* label */
/* header */
/* footer */
/* authentication */
/* background behind card setup/recover/login */
/* text */
/* attention required */
/* quickaccess */
/* logos */
/* Inform menu */
/* dialog */
/* share dialog */
/* folder move dialog */
/* delete user/group conflict dialog */
/* buttons */
/* link */
/* tooltip */
/* inputs */
/* passwords */
/* checkbox */
/* controls */
/* radio */
/* radio list */
/* toggle */
/* range */
/* select */
/* complexity */
/* hints */
/* drag items */
/* announcement */
/* chips */
/* autocomplete */
/* progress bar */
/* workspace */
/* left workspace menu */
/* dropdown menus */
/* grid header */
/* grid header checkbox */
/* grid content */
/* grid content checkbox */
/* info panel */
/* comment */
/* tags */
/* notice */
/* tables */
/* tabs */
/* mfa */
/* feedback card */
/* account recovery */
/* user card */
/* messages */
/* default icon svg fill */
/* favorite icon fill */
/* exclamation icon fill */
/* spinner icon fill */
/* timer icon fill */
/* failed icon fill */
/* success icon fill */
/* logo icon fill */
/* box shadows */
/* accessibility */
html {
  scroll-behavior: smooth;
}
.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
/* fadeinup */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  55% {
    opacity: 1;
    transform: scale(1);
  }
  65% {
    opacity: 1;
    transform: scale(1.25);
  }
  75% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.fadeInDown {
  animation-name: fadeInDown;
}
.fadeOutUp {
  animation-name: fadeOutUp;
}
.fadeInUp {
  animation-name: fadeInUp;
}
.pop {
  animation-name: pop;
}
/*
 * Page layout
 */
.page {
  width: 100%;
  min-width: 32rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  overflow: auto;
  /* main workspace panels  position depend on how many headers are there */
  /* Grid */
  /* if the other grid is used
   don't center the grid inside main panel */
}
.page .panel {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;
}
.page .panel.main {
  bottom: 3.4rem;
  height: auto;
  padding: 0;
}
.page .panel.main .panel.left {
  background: #FAFAFA;
}
.page .header.second + .panel.main {
  top: 6.875em;
}
.page .header.third + .panel.main {
  top: 16.5rem;
  border-top: 1px solid #E0E0E0;
}
.page .header {
  width: 100%;
  overflow: hidden;
  /* headers */
}
.page .header.first {
  min-height: 4.3rem;
}
.page .header.second {
  height: 7rem;
}
.page .header.third {
  height: 5.2rem;
}
.page .col1,
.page .col2,
.page .col3,
.page .col2_3 {
  position: absolute;
}
.page .col1,
.page .panel.left {
  width: 18%;
  box-sizing: border-box;
}
.page .panel.middle {
  width: 82%;
  left: 18%;
  overflow: hidden;
  background: #FAFAFA;
}
.page .panel.middle.scroll {
  overflow-y: scroll;
}
.page .col2 {
  width: calc(82% - 35rem);
  left: 18%;
}
.page .col3,
.page .panel.right {
  width: 24%;
  left: 76%;
}
.page .col2_3 {
  width: calc(82% - 1.6rem);
  left: 18%;
}
.page .panel.main .grid-responsive-12 {
  width: 100%;
  height: calc(100% - 3.9rem);
  margin-right: 1.6rem;
  max-width: none;
  box-sizing: border-box;
}
/* hide left column when there is no space */
@media all and (max-width: 1024px) {
  .page .panel.left {
    display: none;
  }
  .page .header.second .col2 {
    display: none;
  }
  .page .header.second .col2_3 {
    display: none;
  }
  .page .header.third {
    height: 5.2rem;
  }
  .page .header.third .col1,
  .page .header.third .col2,
  .page .header.third .col2_3 {
    position: relative;
    float: left;
    left: auto;
    width: auto;
  }
  .page .header.third .col3 {
    display: none;
  }
  .page .panel.main .panel.left {
    display: none;
  }
  .page .panel.main .panel.middle {
    width: 100%;
    left: 0;
  }
  .page .panel.main .panel.aside {
    min-width: auto;
  }
}
/*
 * scroll
 */
.scroll {
  overflow-y: scroll;
}
.header.second .col1 {
  min-width: 200px;
}
.logo-svg.no-img {
  width: 150px;
  height: 26px;
  --icon-color: #000000;
}
.logo-svg h1 {
  display: none;
}
.logo-svg.bigger {
  width: 200px;
  height: 45px;
}
.header.second .col1 {
  min-width: 200px;
}
/* Small Progress bar */
.progress-bar {
  background: #BDBDBD;
  width: 100%;
  height: 0.3rem;
  display: block;
  border-radius: 0.2rem;
}
.progress-bar .progress {
  background: #D40101;
  width: 0;
  height: 0.3rem;
  display: block;
  border-radius: 0.2rem;
  transition: width 500ms linear;
}
.progress-bar .progress.completed {
  transition: none;
}
.progress-details {
  font-size: 1.4rem;
  line-height: 1.9rem;
  margin: 0.5rem 0 0.5rem 0;
}
.progress-details .progress-percent {
  float: right;
}
.progress-bar-wrapper {
  margin: 3rem 0 2rem 0;
}
/*
	Contextual loading bar
	  it is situated at the bottom of the workspace
*/
.update-loading-bar {
  position: fixed;
  display: block;
  width: 100%;
  bottom: 3.4rem;
  z-index: 3;
}
.update-loading-bar .progress-bar span {
  transition: width 2s;
  transition-timing-function: cubic-bezier(0.45, 1.27, 0.76, 0.9);
}
/*
 * Notification
 */
.notification-container {
  font-size: 0.85em;
  top: 0;
  position: absolute;
  z-index: 200;
  height: 2em;
  padding-top: 1em;
  width: 60%;
  margin-left: 20%;
}
.notification-container .notification {
  position: relative;
  left: 50%;
  float: left;
  clear: both;
  margin-bottom: 1em;
}
.notification-container .notification .message {
  padding: 0.8rem 1.6rem;
  position: relative;
  left: -50%;
  float: left;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.3rem;
  color: #000000;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  width: auto;
}
.notification-container .notification .message.warning {
  color: #000000;
  background: #FFDBA6;
}
.notification-container .notification .message.success {
  color: #000000;
  background: #EDF7EB;
}
.notification-container .notification .message.error {
  color: #000000;
  background: #FFA6A6;
}
/*
 * Breadcrumbs
 */
.breadcrumbs {
  height: 3.9rem;
  padding: 0;
  margin-bottom: 0;
  background: #FAFAFA;
}
.breadcrumbs ul {
  padding-top: 1rem;
  margin-left: 1rem;
}
.breadcrumbs ul li {
  display: flex;
  margin-left: 0.5rem;
  max-width: 25%;
  float: left;
}
.breadcrumbs ul li:before {
  content: "\203A";
  /* unicode character › */
  margin-right: 0.5rem;
  font-size: 1.4rem;
}
.breadcrumbs ul li:first-child {
  margin-left: 0;
  padding-left: 0;
}
.breadcrumbs ul li:first-child:before {
  content: "";
}
.breadcrumbs ul button {
  border: 0;
  font-size: 1.4rem;
  line-height: 1.9rem;
  max-width: 100%;
}
.breadcrumbs span.chips {
  margin-left: 0.8rem;
  vertical-align: 0.1rem;
  padding: 0.1rem 0.55rem 0.2rem 0.55rem;
  border-radius: 2rem;
}
.breadcrumbs div.main-cell {
  display: inline;
}
/*
 * Footer
 */
.footer {
  margin-top: 0;
  position: fixed;
  bottom: 0;
  text-align: right;
  width: 100%;
  background: #EEEEEE;
  border-top: 1px solid #E0E0E0;
  box-sizing: border-box;
  z-index: 2;
}
.footer .footer-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 2.4rem;
  padding: 0.8rem 0;
  width: 100%;
}
.footer .footer-links li {
  display: flex;
  line-height: 1.6rem;
}
.footer .footer-links li:last-child {
  margin-right: 3.2rem;
}
.footer .footer-links li.error-message a {
  background-color: #EEEEEE;
  color: #D40101;
}
.footer .footer-links li a {
  font-size: 1.2rem;
  /* 12px */
  line-height: 1.6rem;
  /* 16px */
}
.footer .footer-links li a .svg-icon svg {
  width: 1.4rem;
  height: 1.2rem;
}
.footer .footer-links li .github-star {
  display: inline;
  position: absolute;
  margin-left: -8em;
  margin-top: -1px;
}
.footer .footer-links a:not(.gh-btn):not(.gh-count) {
  border: 0;
}
.video-wrapper {
  padding: 1em;
}
.video-wrapper iframe {
  width: 100%;
  min-height: 250px;
  height: auto;
}
/*
	do not show javascript needed warning if js is enabled
	this needs modernizer to work
*/
.js .message.no-js {
  display: none;
}
.cookies .message.no-cookies {
  display: none;
}
/* message styling per types */
.message {
  padding: 1.6rem;
}
.message a {
  border-bottom: 1px solid #888888;
}
.message a:hover {
  border-bottom: 1px solid #2894DF;
}
.message.error {
  color: #000000;
  background: #FFA6A6;
}
.message.error a:link,
.message.error a:visited {
  color: #000000;
  border-bottom: 1px dotted #888888;
}
.message.error a:hover {
  color: #000000;
  border-bottom: 1px solid #888888;
}
.message.success {
  color: #000000;
  background: #EDF7EB;
}
.message.notice {
  color: #000000;
  background: #DDEBF8;
  --icon-color: #000000;
}
.message.notice a {
  color: #000000;
}
.message.notice a:hover {
  color: #2894DF;
  border-bottom: 1px solid #2894DF;
}
.message.warning {
  color: #000000;
  background: #FFDBA6;
}
.message.warning a:link,
.message.warning a:visited {
  color: #000000;
  border-bottom: 1px dotted #888888;
}
.message p:last-child {
  margin-bottom: 0;
}
/* big side info message blocks on setup or profile pages */
.message.side-message {
  margin-left: 1.6rem;
  font-size: 1.6rem;
  margin-right: 3.2rem;
}
.message.side-message ul,
.message.side-message p {
  padding-bottom: 1.6rem;
}
.feedback-card {
  background: #FFFFFF;
  color: #000000;
  display: flex;
  align-items: center;
  border: 1px solid #E0E0E0;
  border-radius: 3px;
}
.feedback-card .illustration {
  flex: 0 0 11rem;
  margin: 1.6rem 0 1.6rem 1.6rem;
}
.feedback-card .additional-information {
  flex: 1;
  margin: 1.6rem;
}
.feedback-card .additional-information > * {
  margin-bottom: 1.6rem;
}
.feedback-card .additional-information button.button {
  margin: 3.2rem 0 0 0;
}
.feedback-card .additional-information a.button {
  margin: 1.6rem 0 0 0;
  float: left;
}
.feedback-card .additional-information h4.logs-header {
  padding: 0;
  margin: 3.2rem 0 0.8rem 0;
  border: none;
}
@media only screen and (max-width: 767px) {
  .feedback-card,
  .message.animated {
    flex-direction: column;
    align-items: center;
  }
}
table.table-info,
table.table-info.vertical {
  margin-top: 1.2rem;
  border-collapse: separate;
}
table.table-info td,
table.table-info.vertical td {
  line-height: 2.9rem;
  padding-right: clamp(1.6rem, calc(0.4rem + 4vw), 20rem);
}
table.table-info td:first-child,
table.table-info.vertical td:first-child {
  color: #989693;
}
table.table-info td.warning,
table.table-info.vertical td.warning {
  background: #FEF0BF;
}
table.table-info td.error,
table.table-info.vertical td.error {
  background: #FFA6A6;
}
table.table-info td .alt.side,
table.table-info.vertical td .alt.side {
  color: #666666;
  float: right;
}
table.table-info td .alt.side:before,
table.table-info.vertical td .alt.side:before {
  content: "\0028";
  /* unicode character ( */
}
table.table-info td .alt.side:after,
table.table-info.vertical td .alt.side:after {
  content: "\0029";
  /* unicode character ) */
}
table.table-info td + td,
table.table-info.vertical td + td {
  padding-right: 0;
}
/* horizontal tableview */
table.table-info.horizontal {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
  border: 1px solid #E0E0E0;
  margin-bottom: 1em;
}
table.table-info.horizontal.with-borders td,
table.table-info.horizontal.with-borders th {
  border-right: 1px solid #E0E0E0;
}
table.table-info.horizontal td,
table.table-info.horizontal th {
  padding: 0.5em 0.5em 0.5em 0.75em;
  margin: 0;
}
table.table-info.horizontal th {
  border-bottom: 1px solid #E0E0E0;
}
table.table-info.horizontal th a {
  display: block;
  border: 0;
}
table.table-info.horizontal th a.sortable .svg-icon svg {
  top: 0.15em;
  position: relative;
  margin-left: 0.5em;
}
table.table-info.horizontal thead tr {
  background: #EEEEEE;
}
table.table-info.horizontal tbody {
  background: #FFFFFF;
}
table.table-info.horizontal tbody tr:nth-child(odd) {
  background: #FFFFFF;
}
table.table-info.horizontal tbody tr:hover {
  background: #E9E9E9;
}
.table-info-pagination .pagination-limit {
  margin-top: -0.5em;
  float: left;
}
.table-info-pagination .pagination-limit label {
  float: left;
  font-weight: normal;
}
.table-info-pagination .pagination-limit select {
  float: left;
  margin: 0.35em;
}
.table-info-pagination .pagination-pages {
  float: right;
}
.table-info-pagination .pagination-pages .page-location {
  float: left;
}
.table-info-pagination .pagination-pages .page-buttons {
  float: right;
}
.table-info-pagination .pagination-pages .button {
  float: left;
  margin: -0.5em 0 0 0.75em;
  padding: 0.35em 0.75em;
}
/*
	Tooltips
	That allows HTML in them
*/
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-bottom: 0;
  /* Tooltip text */
  /* Ease the tooltip left when you mouse over the tooltip container */
}
.tooltip:focus,
.tooltip :focus-visible {
  outline: 0;
}
.tooltip .tooltip-text {
  position: absolute;
  z-index: 99;
  visibility: hidden;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transform: translate3d(0, 0, 0);
  max-width: 24rem;
  width: max-content;
  padding: 0.4rem 0.8rem;
  background: #B3B3B3;
  color: #000000;
  border-radius: 0.3rem;
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: normal;
  text-align: left;
  /* only right for now */
}
.tooltip .tooltip-text::after {
  content: " ";
  position: absolute;
  border: 0.5rem solid transparent;
}
.tooltip .tooltip-text.top {
  bottom: 100%;
  left: 50%;
  margin: 0 0 1rem 0;
}
.tooltip .tooltip-text.top::after {
  left: 50%;
  top: 100%;
  border-top-color: #B3B3B3;
}
.tooltip .tooltip-text.right {
  bottom: 50%;
  left: 100%;
  margin: 0 0 0 1rem;
}
.tooltip .tooltip-text.right::after {
  bottom: 50%;
  right: 100%;
  border-right-color: #B3B3B3;
}
.tooltip .tooltip-text.bottom {
  top: 100%;
  right: 50%;
  margin: 1rem 0 0 0;
}
.tooltip .tooltip-text.bottom::after {
  right: 50%;
  bottom: 100%;
  border-bottom-color: #B3B3B3;
}
.tooltip .tooltip-text.left {
  top: 50%;
  right: 100%;
  margin: 0 1rem 0 0;
}
.tooltip .tooltip-text.left::after {
  top: 50%;
  left: 100%;
  border-left-color: #B3B3B3;
}
.tooltip:hover .tooltip-text,
.tooltip:focus .tooltip-text {
  visibility: visible;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.tooltip:hover .tooltip-text.top,
.tooltip:focus .tooltip-text.top,
.tooltip:hover .tooltip-text.top:after,
.tooltip:focus .tooltip-text.top:after {
  transform: translate(-50%);
}
.tooltip:hover .tooltip-text.right,
.tooltip:focus .tooltip-text.right,
.tooltip:hover .tooltip-text.right:after,
.tooltip:focus .tooltip-text.right:after {
  transform: translate(0, 50%);
}
.tooltip:hover .tooltip-text.bottom,
.tooltip:focus .tooltip-text.bottom,
.tooltip:hover .tooltip-text.bottom:after,
.tooltip:focus .tooltip-text.bottom:after {
  transform: translate(50%);
}
.tooltip:hover .tooltip-text.left,
.tooltip:focus .tooltip-text.left,
.tooltip:hover .tooltip-text.left:after,
.tooltip:focus .tooltip-text.left:after {
  transform: translate(0, -50%);
}
/* picture in sidebar */
.col4 img.illustration,
.col5 img.illustration {
  max-width: 275px;
  margin: 2em auto;
}
/* figure in article */
article figure {
  width: 100%;
  text-align: center;
  padding: 1em 0;
}
article figure img {
  margin: auto;
  position: relative;
}
article figure .legend {
  display: inline-block;
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-style: italic;
}
/* search */
form.search {
  margin-top: 2rem;
  max-width: 64rem;
}
form.search legend,
form.search label {
  display: none;
  width: 16rem;
}
/* rescale on small screen */
@media all and (max-width: 480px) {
  form.search {
    display: none;
  }
}
.social {
  text-align: center;
  float: left;
  margin-top: 1em;
}
.social a {
  font-size: 3.5em;
  border: 0;
}
.rangeslider,
.rangeslider__fill {
  display: block;
  -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.rangeslider {
  background: #e6e6e6;
  position: relative;
}
.rangeslider--horizontal {
  height: 20px;
  width: 100%;
}
.rangeslider--vertical {
  width: 20px;
  min-height: 150px;
  max-height: 100%;
  height: 100%;
}
.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
.rangeslider__fill {
  background: #00ff00;
  position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}
.rangeslider__handle {
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(0, 0, 0, 0.1)));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.1));
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.rangeslider__handle:after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEzIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjAuMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.13)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  background-image: linear-gradient(rgba(0, 0, 0, 0.13), rgba(255, 255, 255, 0));
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.rangeslider__handle:active,
.rangeslider--active .rangeslider__handle {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjEiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4xMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0.1)), color-stop(100%, rgba(0, 0, 0, 0.12)));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.12));
}
.rangeslider--horizontal .rangeslider__handle {
  top: -10px;
  touch-action: pan-y;
  -ms-touch-action: pan-y;
}
.rangeslider--vertical .rangeslider__handle {
  left: -10px;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}
input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}
/* Special error page treatment for larger screen */
@media all and (min-width: 460px) {
  .page.error .grid {
    text-align: center;
    width: 100%;
    margin-bottom: 2.5em;
  }
  .page.error.error-404 .row,
  .page.error.error-500 .row,
  .page.error.error-400 .row {
    max-width: 400px;
    margin: auto;
  }
  .page.error.error-500 .grid:before,
  .page.error.error-404 .grid:before,
  .page.error.error-400 .grid:before {
    font-size: 15em;
    font-weight: bold;
    color: #000000;
  }
  .page.error.error-404 .grid:before {
    content: "404";
  }
  .page.error.error-400 .grid:before {
    content: "400";
  }
  .page.error.error-500 .grid:before {
    content: "500";
  }
}
/* credit photo album */
.tldr.sponsors img {
  margin-top: 2em;
  max-width: 240px;
}
.home .page-row,
.featured .page-row {
  padding: 1em;
}
.home .page-row .grid,
.featured .page-row .grid {
  margin: auto;
  max-width: 1000px;
}
.home .footer,
.featured .footer {
  position: relative;
  margin: 0;
}
.home h3 {
  border: 0;
}
@media all and (min-width: 940px) {
  .featured h2,
  .home h2 {
    margin: 1em auto;
    text-align: center;
    font-size: 2em;
  }
  .featured h3,
  .home h3 {
    text-align: center;
  }
}
.home .page-row.hero2 .logo {
  margin: 1em 0;
}
.home .page-row.hero2 .teaser-text {
  font-size: 1.5em;
}
.home .page-row.hero2 .call-to-action .button {
  font-size: 1.125em;
  display: inline-block;
  margin-top: 1em;
}
.home .page-row.hero2 .call-to-action .button + a {
  margin-left: 1em;
}
.home .page-row.hero2 .scroll-prompt {
  display: none;
}
.home .page-row.hero2 .github-star {
  position: absolute;
  left: 310px;
  margin-top: 3px;
}
/* large screen */
@media all and (min-width: 1000px) {
  .home .page-row.hero2 {
    max-width: 1150px;
    min-height: 450px;
    background: #FFFFFF url('../img/background/cloud.jpg') right center no-repeat;
    margin: auto;
    position: relative;
  }
  .home .page-row.hero2 .birds-bg {
    position: absolute;
    z-index: 9998;
    right: 0;
    width: 727px;
    height: 557px;
    margin-top: -2.5em;
    background: transparent url('../img/background/flying_birds1.png') center center no-repeat;
  }
  .home .page-row.hero2 .logo {
    margin: 5% 0 1em 4%;
  }
  .home .page-row.hero2 .teaser-text {
    width: 18em;
    font-size: 1.5em;
    margin: 0 0 1em 4%;
    text-align: left;
    line-height: 1.666em;
  }
  .home .page-row.hero2 .call-to-action .button {
    font-size: 1.125em;
    margin: 0.25em 0 3% 4%;
    display: inline-block;
  }
}
.home .page-row.usp {
  padding-bottom: 3em;
}
.home .page-row.usp .tile {
  border: 0;
  padding-left: 0;
  padding-right: 0;
}
.home .page-row.usp .tile i {
  font-size: 1em;
  float: left;
  display: block;
  width: 90px;
  height: 90px;
}
.home .page-row.usp .tile i.docker {
  background: transparent url('../img/third_party/docker_90.png') left center no-repeat;
  background-size: 60px auto;
}
.home .page-row.usp .tile i.team {
  background: transparent url('../img/papericon/email_90.png') left center no-repeat;
  background-size: 60px auto;
}
.home .page-row.usp .tile i.gnupg {
  background: transparent url('../img/third_party/gnupg_90.png') left center no-repeat;
  background-size: 60px auto;
}
.home .page-row.usp .tile i.opensource {
  background: transparent url('../img/third_party/opensource_90.png') left center no-repeat;
  background-size: 60px auto;
}
.home .page-row.usp .tile i.json {
  background: transparent url('../img/third_party/json_90.png') left center no-repeat;
  background-size: 60px auto;
}
.home .page-row.usp .tile i.jenkins {
  background: transparent url('../img/third_party/jenkins_90.png') left center no-repeat;
  background-size: 60px auto;
}
.home .page-row.usp .call-to-action {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
  font-size: 1.125em;
}
/* larger screen */
@media all and (min-width: 440px) {
  .page-row.usp .tile {
    padding: 1em 0 0.5em 0;
  }
  .page-row.usp .tile .tile-teaser i {
    font-size: 1em;
    display: block;
    margin: auto;
    height: 90px;
    width: 100%;
  }
  .page-row.usp .tile .tile-teaser i.docker {
    background: transparent url('../img/third_party/docker_90.png') center center no-repeat;
    background-size: 90px auto;
  }
  .page-row.usp .tile .tile-teaser i.team {
    background: transparent url('../img/papericon/email_90.png') center center no-repeat;
    background-size: 60px auto;
  }
  .page-row.usp .tile .tile-teaser i.gnupg {
    background: transparent url('../img/third_party/gnupg_90.png') center center no-repeat;
    background-size: 80px auto;
  }
  .page-row.usp .tile .tile-teaser i.opensource {
    background: transparent url('../img/third_party/opensource_90.png') center center no-repeat;
    background-size: 70px auto;
  }
  .page-row.usp .tile .tile-teaser i.json {
    background: transparent url('../img/third_party/json_90.png') center center no-repeat;
    background-size: 70px auto;
  }
  .page-row.usp .tile .tile-teaser i.jenkins {
    background: transparent url('../img/third_party/jenkins_90.png') center center no-repeat;
    background-size: 80px auto;
  }
}
/* CSS for serving the retina image to devices with a high "device-pixel-ratio": */
@media only screen and (-moz-min-device-pixel-ratio: 1.5) and (min-width: 440px), only screen and (-o-min-device-pixel-ratio: 3/2) and (min-width: 440px), only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 440px), only screen and (min-devicepixel-ratio: 1.5) and (min-width: 440px), only screen and (min-resolution: 1.5dppx) and (min-width: 440px) {
  .home .page-row.usp .tile .tile-teaser i {
    background-size: 90px auto;
  }
  .home .page-row.usp .tile .tile-teaser i.docker {
    background: transparent url('../img/third_party/docker_180.png') center center no-repeat;
    background-size: 80px auto;
  }
  .home .page-row.usp .tile .tile-teaser i.team {
    background: transparent url('../img/papericon/email_90.png') center center no-repeat;
    background-size: 70px auto;
  }
  .home .page-row.usp .tile .tile-teaser i.gnupg {
    background: transparent url('../img/third_party/gnupg_180.png') center center no-repeat;
    background-size: 80px auto;
  }
  .home .page-row.usp .tile .tile-teaser i.opensource {
    background: transparent url('../img/third_party/opensource_180.png') center center no-repeat;
    background-size: 80px auto;
  }
  .home .page-row.usp .tile .tile-teaser i.json {
    background: transparent url('../img/third_party/json_180.png') center center no-repeat;
    background-size: 80px auto;
  }
  .home .page-row.usp .tile .tile-teaser i.jenkins {
    background: transparent url('../img/third_party/jenkins_180.png') center center no-repeat;
    background-size: 80px auto;
  }
}
.home .page-row.api {
  color: #FFFFFF;
  background: transparent url('../img/background/blueprint.jpg') center center repeat;
  text-shadow: 1px 1px #000000;
  padding-bottom: 4em;
}
.home .page-row.api h2 {
  text-align: left;
}
/* even larger screen */
@media all and (min-width: 800px) {
  .home .page-row.api {
    height: 525px;
    margin: 0;
    padding: 0;
  }
  .home .page-row.api h2 {
    margin-top: 2em;
  }
  .home .page-row.api .api-wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    height: 525px;
    background: transparent url('../img/diagrams/sequence_diagram_gpg_authenticate.png') 200% 7em no-repeat;
    background-size: 75% auto;
    -moz-box-shadow: inset 0 16px 16px -16px #000000, inset 0 -16px 16px -16px #000000;
    -webkit-box-shadow: inset 0 16px 16px -16px #000000, inset 0 -16px 16px -16px #000000;
    box-shadow: inset 0 16px 16px -16px #000000, inset 0 -16px 16px -16px #000000;
  }
}
/* my kind of screen */
@media all and (min-width: 1280px) {
  .home .page-row.api .api-wrapper {
    background-size: 100% auto;
    background: transparent url('../img/diagrams/sequence_diagram_gpg_authenticate.png') 130% 7em no-repeat;
  }
}
/* hold on a sec kind of screen */
@media all and (min-width: 1500px) {
  .home .page-row.api .api-wrapper {
    background: transparent url('../img/diagrams/sequence_diagram_gpg_authenticate.png') 90% 7em no-repeat;
  }
}
.thankyou.page .row {
  text-align: center;
}
.thankyou.page .social {
  margin-top: 0;
  width: 100%;
  font-size: 0.75em;
}
@media all and (min-width: 780px) {
  .thankyou.page {
    height: 100%;
    position: absolute;
    background-size: cover;
  }
  .thankyou.page .grid {
    background: transparent url('../img/illustrations/birds7_850.png') center 2em no-repeat;
    background-size: 420px auto;
    margin-bottom: 2.5em;
  }
  .thankyou.page .row {
    margin: auto;
    max-width: 400px;
    padding-top: 400px;
  }
}
