// Css variable declaration as root to enable the possibility of override it
:root {
  // default icon color, background color and stroke width
  --icon-color: @icon-color;
  --icon-background-color: @icon-background-color;
  --icon-stroke-width: .15rem;
  // default icon exclamation color and background color
  --icon-exclamation-color: @icon-exclamation-color;
  --icon-exclamation-background-color: @icon-exclamation-default-color;
  // default icon star color
  --icon-favorites-color: @icon-unfavorite-color;
  // default icon failed color
  --icon-failed-color: @icon-failed-color;
  // default icon success color
  --icon-success-color: @icon-success-color;
  // default icon spinner color, background color and stroke width
  --spinner-color: @icon-spinner-color;
  --spinner-background: @icon-spinner-background;
  --spinner-stroke-width: .15rem;
  // default icon timer color, background color and stroke width
  --timer-color: @icon-timer-color;
  --timer-background: @icon-timer-background;
  --timer-stroke-width: .3rem;
  --timer-duration: 30s;
  --timer-delay: 0s;
}

.svg-baseline() {
    top:.125em;
    position: relative;
}

.svg-icon {
    display: inline-flex;
    align-self: center;

    &.spinner {
      #loading {
        animation: spin 2s cubic-bezier(0.77, 0, 0.175, 1) forwards infinite;
        stroke-dashoffset: 50.25;
        stroke-dasharray: 50.27;

        @keyframes spin {
          0% {
            stroke-dashoffset: 50.25;
          }
          50% {
            stroke-dashoffset: 0;
          }
          100% {
            stroke-dashoffset: -50.25;
          }
        }
      }
    }

    &.timer {
      #timer-progress {
        animation: timer-progress linear forwards infinite;
        animation-duration: var(--timer-duration);
        animation-delay: var(--timer-delay);
        stroke-dashoffset: -100.54;
        stroke-dasharray: 50.27;
      }
      @keyframes timer-progress {
        0% {
          stroke-dashoffset: -100.54;
          stroke: @icon-timer-color;
        }
        65% {
          stroke: @icon-timer-color;
        }
        75% {
          stroke: @icon-timer-alert-color;
        }
        100% {
          stroke-dashoffset: -50.27;
          stroke: @icon-timer-alert-color;
        }
      }
    }

    &.baseline {
        .svg-baseline();
    }

    &.icon-only {
        svg {
            padding: .1rem;
        }
    }
}

@import "icons-svg-links.less";
@import "icons-svg-buttons.less";
@import "icons-feedback.less";