.recovery-account-policy-dialog, .review-account-recovery-dialog  {
    .form-content {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        ul {    
          align-self: stretch;
        }
    }
    .usercard-detailed-col-2 {
        border-top: none;
    }

    .radiolist-alt {
        width: 100%;
    }
    .content-wrapper {
        .content {
          .name, .subinfo {
            overflow: inherit;
          }
        }
      }
}
