.review-account-recovery-dialog {
    .teaser-image {
        float: left;
        width: @avatar-size;
        height: @avatar-size;
        margin-left: -100%;
        border: 1px solid @grey;
        line-height: 3em;
        text-align: center;
        border-radius: 50%;
        &.attention-required {
            border-color: @orange-light;
        }
        .svg-icon {
            &.exclamation {
                position: absolute;
                width: 1.2rem;
                margin-top: .8rem;
                margin-left: -1.2rem;
                svg {
                    color: @orange-light;
                }
            }
            svg {
                width: 2.4rem;
                height: 2.4rem;
                margin-top:1.2rem;
            }
        }
        .avatar {
          margin-left: 0;
        }
    }
}