.radiolist, .radiolist-alt {
  .input.radio {
    display: flex;
    align-items: center;

    input[type=radio] {
      -webkit-appearance: none;
      appearance: none;
      display: grid;
      place-content: center;
      cursor: pointer;
      width: 1.6rem;
      height: 1.6rem;
      background: var(--Checkbox-Checkbox-background);
      border-radius: 100%;
      border: none;
      box-shadow: inset 0 0 0 .1rem var(--Checkbox-Checkbox-border);
      box-sizing: border-box;
      margin: 0;

      // Radio dot
      &:before {
        content: "";
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 1rem;
        background: var(--Palette-Contrast-1);
        transform: scale(0);
        transition: 120ms transform ease-in-out;
      }

      // Dot animation
      &:checked {
        &:before {
          transform: scale(1);
          box-shadow: none;
        }

        &:hover, &:active {
          box-shadow: inset 0 0 0 .1rem var(--Checkbox-Checkbox-border);

          &:before {
            box-shadow: none;
          }
        }

        cursor: default;
        box-shadow: inset 0 0 0 .1rem var(--Checkbox-Checkbox-border);

        & + label {
          cursor: default;
        }
      }

      // Radio hover
      &:hover {
        box-shadow:
          inset .1rem .1rem 0 var(--States-Hover-Highlight),
          .1rem .1rem 0 var(--States-Hover-Shadow),
          inset 0 0 0 .1rem var(--Checkbox-Checkbox-border);

        // Radio dot hover
        &:before {
          box-shadow:
            inset .1rem .1rem 0 var(--States-Hover-Highlight),
            .1rem .1rem 0 var(--States-Hover-Shadow);
        }
      }

      // Radio focus-visible
      &:focus-visible {
        box-shadow:
          0 0 .4rem var(--States-Focus),
          inset 0 0 0 .1rem var(--States-Focus);
        border: none;
        outline: inset 0 0 0 .1rem var(--Checkbox-Checkbox-border);

        &+label {
          color: var(--Text-and-icons-Main-text);
        }
      }

      // Radio pressed
      &:active {
        box-shadow:
          inset -.1rem -.1rem 0 var(--States-Active-Highlight),
          inset .1rem .1rem 0 var(--States-Active-Shadow),
          inset 0 0 0 .1rem var(--Checkbox-Checkbox-border);
        border: none;

        // Radio dot pressed
        &:before {
          box-shadow:
            inset -.1rem -.1rem 0 var(--States-Active-Highlight),
            inset .1rem .1rem 0 var(--States-Active-Shadow);
          border: none;
        }

        &+label {
          color: var(--Text-and-icons-Main-text);
        }
      }

      // Disabled radio.
      &:disabled {
        opacity: .5;
        cursor: auto;
        background: var(--Checkbox-Checkbox-background);
        border: none;
        box-shadow: inset 0 0 0 .1rem var(--Checkbox-Checkbox-border);

        &:before {
          box-shadow: none;
          background: var(--Checkbox-Checkbox-border);
        }

        & + label {
          opacity: .5;
          cursor: auto;
        }
      }

      & + label {
        flex: 1;
        font-weight: 400;
        margin: 0 0 0 1.2rem;
        display: inline-block;
        cursor: pointer;
        line-height: 2rem;
        .ellipsis();
      }
    }
  }
}

/** Premimum Radio button */
.radiolist-alt {
  .input.radio {
    ._field-borders();
    position: relative;
    border-radius: var(--Button-border-radius);
    background-color: var(--Workspace-Panels-background);
    margin-right: 0;

    &.checked {
      box-shadow:
        inset -.1rem -.1rem 0 0 var(--States-Active-Highlight),
        inset .1rem .1rem 0 0 var(--States-Active-Shadow);
      background: var(--Action-button-Active-action-button-background);

      input[type="radio"]:hover, input[type="radio"]:active {
        box-shadow: inset 0 0 0 .1rem var(--Checkbox-Checkbox-border);

        &:before {
          box-shadow: none;
        }
      }
    }

    input[type="radio"]:hover, input[type="radio"]:active {
      box-shadow: inset 0 0 0 .1rem var(--Checkbox-Checkbox-border);
    }

    &.disabled {
      ._field-border-disabled();
      opacity: .5;

      input[type="radio"] + label {
        opacity: 1;
      }

      &.checked {
        background-color: var(--Workspace-Panels-background);
      }
    }

    input[type="radio"] {
      position: absolute;
      left: 1.6rem;

      &:active + label {
        background: transparent;
      }

      + label {
        margin: 0;
      }
    }

    label {
      border-radius: var(--Button-border-radius);
      padding: 1.6rem 1.6rem 1.6rem 4.8rem;

      .name {
        &.bold {
          font-weight: 700;
        }
        margin: 0;
        margin-bottom: 0.4rem;
        display: block;
        font-size: 1.5rem;
        font-weight: 700;
      }

      .error-message, .warning-message {
        font-size: 1.3rem;
      }

      .info {
        margin: 0;
        font-weight: normal;
        font-size: 1.3rem;
        display: block;
        white-space: pre-wrap;

        span {
          font-weight: bold;
        }
      }
    }
  }
}