/* input label */
label {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: normal;
    display: block;
    width: max-content;
    max-width: 100%;
    color: var(--Text-and-icons-Main-text);

    & > * {
        margin-left: .4rem;
    }

    svg.attention-required {
        height: 1.4rem;
        width: 1.4rem;
        --icon-exclamation-color: var(--Alert-Alert-icon);
        --icon-exclamation-background-color: var(--Alert-Alert-background);
        --icon-exclamation-border-color: var(--Alert-Alert-background);
    }
}

.input.error label {
  color: var(--Palette-Contrast-3);
  & > .info {
    color: var(--Text-and-icons-Main-text);
  }
}

.input.warning label {
  color: var(--Progress-and-entropy-bar-warning);
  & > .info {
    color: var(--Text-and-icons-Main-text);
  }
}

.input.text, .input-password-wrapper,
.input.file, .input.textarea,
.input.select-wrapper, .input.checkbox-wrapper,
.input-totp-wrapper {
  &.disabled {
    label {
      opacity: .5;
    }
  }
  label {
    margin-bottom: 1.2rem;
  }
}

/*
	Required Label

	Description	: Label and input are wrapped in <div.text.required>. Additional <span> with a star is included. Input also get the required class.
	.required		- additional red star
*/
.required {
  > label:after, .label-required-inline > label:after {
    content: "\002A"; /* unicode character * */
    color: var(--Palette-Contrast-3);
    font-weight: 700;
    margin-left: .4rem;
  }
  .label-required-inline {
    display: flex;
    margin-bottom: 1.2rem;

    label {
      margin-bottom: 0;

      & + .tooltip {
        display: flex;
        margin-left: .5rem;

        svg {
          width: 1.6rem;
          height: 1.6rem;
        }
      }
    }
  }
}


