.password-view {
  padding: .8rem;
  width: 4.2rem;
  height: 3rem;

  &.infield {
    border-radius: .1rem;
  }
}

.digit {
  color: @input-passwords-special-chars-color;
}

.special-char {
  color: @input-passwords-numbers-color;
}
