button {
  .digit {
    color: var(--Text-and-icons-secret-number);
  }

  .special-char {
    color: var(--Text-and-icons-secret-special-chars);
  }

  &:hover {
    .digit {
      color: var(--Text-and-icons-secret-number-hover);
    }
  }
}
