.home,
.featured {
  .page-row {
    padding: 1em;

    .grid {
      margin: auto;
      max-width: 1000px;
    }
  }
  .footer {
    position:relative;
    margin:0;
  }
}

/* larger screen */
@media all and (min-width: 440px) {
  .featured,
  .home {
    h2 {
      margin:1em auto;
      text-align:center;
      font-size:2em;
    }
  }
}

//@import "../page-components/home/hero1.less";
@import "../page-components/home/hero2.less";
@import "../page-components/home/usp.less";
@import "../page-components/home/api.less";
@import "../page-components/home/features2.less";
@import "../page-components/home/howitworks.less";
@import "../page-components/signup.less";
@import "../page-components/home/cli.less";
