.home {
  .page-row {
    padding:1em;

    &.three-little-birds {
      .logo {
        margin:1em 0;
      }
      .teaser-text {
        font-size: 1.5em;
      }
      .call-to-action .button {
        font-size: 1.125em;
        margin:auto;
      }
    }

    &.features {
      .swiper-container {
        .swiper-slide {
          background-position: center;
          background-size: cover;
          width: 100%;
          height: 320px;

          h3 {
            display:block;
            text-align: center;
            border:0;
          }
          img {
            width:100%;
          }
        }
        .swiper-button-prev,
        .swiper-button-next {
          display:none;
        }
      }
      //
      //.swiper-container {
      //  width: 100%;
      //  padding-bottom: 50%;
      //  max-width:900px;
      //
      //  border:1px solid blue;
      //
      //  .swipper-slide {
      //    width:80%;
      //
      //    img {
      //      width:100%;
      //    }
      //  }
      //}
    }

    &.usp {
      margin:auto;
      max-width:1000px;

      .tile {
        border:0;
        padding-left:0;
        padding-right:0;

        i {
          font-size:1em;
          float:left;
          display:block;
          width: 90px;
          height:90px;

          &.docker {
            background: transparent url('@{images}/third_party/docker_90.png') left center no-repeat;
            background-size: 60px auto;
          }
          &.slack {
            background: transparent url('@{images}/third_party/slack_90.png') left center no-repeat;
            background-size: 60px auto;
          }
          &.gnupg {
            background: transparent url('@{images}/third_party/gnupg_90.png') left center no-repeat;
            background-size: 60px auto;
          }
          &.opensource {
            background: transparent url('@{images}/third_party/opensource_90.png') left center no-repeat;
            background-size: 60px auto;
          }
          &.json {
            background: transparent url('@{images}/third_party/json_90.png') left center no-repeat;
            background-size: 60px auto;
          }
          &.jenkins {
            background: transparent url('@{images}/third_party/jenkins_90.png') left center no-repeat;
            background-size: 60px auto;
          }
        }
      }
    }
  }

  .footer {
    position:relative;
    margin:2em 0 0 0;
  }
}


/* larger screen */
@media all and (min-width: 440px) {
  .home {

    h2 {
      margin:1em auto;
      text-align:center;
      font-size:2em;
    }

    .page-row {

      &.three-little-birds {
        height:70%;
        background: #FAFAFA url('@{images}/background/mandala_bird1.jpg') 200% center no-repeat;
        background-size:85% auto;

        .logo {
          margin:5% 0 2% 10%;
        }
        .teaser-text {
          max-width:33%;
          font-size: 1.75em;
          margin:0 0 0 10%;
          text-align: left;
        }
        .call-to-action .button {
          font-size: 1.125em;
          margin:0 0 0 10%;
          display:inline;
        }
      }

      &.features {
        .swiper-container {
          max-width: 1600px;
          margin: 1em auto;
          padding: 1em 0 2em 0;

          .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 550px;
            height: 400px;
          }

          .swiper-button-prev,
          .swiper-button-next {
            display: block;
          }
        }
      }

      &.usp {
        .tile {
          padding:1em 0 .5em 0;

          .tile-teaser i {
            font-size:1em;
            display:block;
            margin:auto;
            width: 90px;
            height:90px;

            &.docker {
              background: transparent url('@{images}/third_party/docker_90.png') center center no-repeat;
              background-size: 90px auto;
            }
            &.slack {
              background: transparent url('@{images}/third_party/slack_90.png') center center no-repeat;
              background-size: 70px auto;
            }
            &.gnupg {
              background: transparent url('@{images}/third_party/gnupg_90.png') center center no-repeat;
              background-size: 80px auto;
            }
            &.opensource {
              background: transparent url('@{images}/third_party/opensource_90.png') center center no-repeat;
              background-size: 70px auto;
            }
            &.json {
              background: transparent url('@{images}/third_party/json_90.png') center center no-repeat;
              background-size: 70px auto;
            }
            &.jenkins {
              background: transparent url('@{images}/third_party/jenkins_90.png') center center no-repeat;
              background-size: 80px auto;
            }
          }
        }
      }
    }
  }
}

/* CSS for serving the retina image to devices with a high "device-pixel-ratio": */
@media only screen and (-moz-min-device-pixel-ratio: 1.5) and (min-width: 440px),
only screen and (-o-min-device-pixel-ratio: 3/2) and (min-width: 440px),
only screen and (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 440px),
only screen and (min-devicepixel-ratio: 1.5) and (min-width: 440px),
only screen and (min-resolution: 1.5dppx) and (min-width: 440px) {

  .home .tile .tile-teaser i {
    background-size: 90px auto;

    &.docker {
      background: transparent url('@{images}/third_party/docker_180.png') center center no-repeat;
      background-size: 80px auto;
    }
    &.slack {
      background: transparent url('@{images}/third_party/slack_180.png') center center no-repeat;
      background-size: 80px auto;
    }
    &.gnupg {
      background: transparent url('@{images}/third_party/gnupg_180.png') center center no-repeat;
      background-size: 80px auto;
    }
    &.opensource {
      background: transparent url('@{images}/third_party/opensource_180.png') center center no-repeat;
      background-size: 80px auto;
    }
    &.json {
      background: transparent url('@{images}/third_party/json_180.png') center center no-repeat;
      background-size: 80px auto;
    }
    &.jenkins {
      background: transparent url('@{images}/third_party/jenkins_180.png') center center no-repeat;
      background-size: 80px auto;
    }
  }
}
