.login.page .mfa-verify-error {
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    margin-bottom: 1.6rem;
    text-align: center;
  }

  p {
    text-align: center;
    line-height: normal;
  }

  .icon-feedback {
    margin-bottom: 2.4rem;

    .attention {
      height: 12.6rem;
      width: 12.6rem;
    }
  }

  .form-actions {
    width: 100%;
  }

  .accordion-header {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1.2rem;

    button, button:focus {
      display: flex;
      margin-top: 0;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: normal;
      gap: .6rem;

      svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  .accordion-content {
    width: 100%;

    textarea {
      margin: 0;
      color: rgb(from var(--Text-and-icons-Main-text) r g b / 50%);
      ._field-border-disabled();
      border-radius: var(--Menu-radius);
    }
  }
}

.login.page .login-form .return-to-application {
  margin-top: 2.4rem;
  padding: 1rem 1.6rem;
  font-size: 1.6rem;
  font-weight: 600;

  &::after {
    content: none;
  }
}

.mfa-verify-delegated-result:extend(.mfa-verify-error all) {}

.login.page .mfa-verify-delegated-result .icon-feedback .success {
  height: 12.6rem;
  width: 12.6rem;
}
