/*
	Custom rules for the setup process pages
	Mostly extra padding here and there
*/
.setup {
	.video-wrapper {
		margin-top:2em;
	}

	h2 .button {
		margin-right:0.3em;
	}

	.why-plugin-wrapper p {
		padding-bottom:1em;
	}

	.input-password-wrapper {
		margin-top:1.5em;
	}

	/* last row is for cancel / submit buttons */
	.row.last {
		padding-top:2em;
	}

	/* gpg textare is tall */
	.gpgkey textarea {
		height:24em;
		width:95%;
	}

	.side-message {
		margin-top:3em;
		margin-left:1em;
		font-size:1.125em;
	}
}
