.page.administration .app .panel.main .main-page .subscription-key,
.page.administration .app .panel.main .main-page .subscription-key-teasing {
.subscription-key-teasing-info {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    align-self: stretch;

    div.title-text {
      font-size: medium;
      font-weight: bold;
      margin-bottom: 1rem;
    }
  }
 .subscription-information {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    h4.subscription-information-subtitle {
      padding-top: 0;
      border-top: none;
    }

    .information {
      display: flex;
      gap: 1.6rem;
    }

    .information-label, .secondary-information {
      color: var(--Text-and-icons-Secondary-text);
    }

    .information-value {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .information-label, .information-value {
      display: flex;
      flex-direction: column;
      gap: .8rem;

      .label, .value {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 2rem; // set height for empty value

        button {
          display: block;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left;
        }
      }
    }
}
}