.themes {
    display: flex;
    gap: 1.6rem;
    flex-wrap: wrap;

    button {
        ._field-borders();
        border-radius: var(--Button-border-radius);
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        padding: 1.6rem;
        justify-content: center;

        svg {
            width: 25.0rem;
            height: 16.6rem;
            box-shadow: 2px 2px 8px 0px var(--Palette-Shadow);
        }

        .theme-desc {
            font-weight: 700;
        }

        &.selected {
            box-shadow: inset 0 0 0 .1rem var(--Action-button-Active-action-button-border);
            background-color: var(--Action-button-Active-action-button-background);
        }
    }
}