.idea
.DS_Store
.vscode
*.vim
node_modules
npm-debug.log
bower_components
src/css
.vscode

## Build directory
build/*

# custom theme
src/less/abstractions/colors_custom.less

#jest test coverage
/coverage

# CI                 #
######################
junit.xml
.gitlab-ci-local

### storybook
storybook-static/*

### dev scripts
/scripts