image: debian:stable-slim

stages:
  - test
  - build
  - publish

.rules:
  rules:
    - if: "$CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS"
      when: never
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event" || $CI_COMMIT_BRANCH || $CI_COMMIT_TAG'

include:
  - local: "/.gitlab-ci/jobs/build.yml"
  - local: "/.gitlab-ci/jobs/test.yml"
  - local: "/.gitlab-ci/jobs/publish.yml"
