.editorconfig
.eslintrc.json
.gitlab-ci.yml
.idea
.jest.config.json
.jest.setup.js
.storybook
crowdin.yml
node_modules
config
src/css
src/less
src/video
src/img/card_teasers
src/img/papericon
src/img/screenshots
scripts
storybook-static
webpack.config.js

#jest test coverage
######################
/coverage

# CI                 #
######################
junit.xml