.editorconfig
.eslintrc.json
.gitlab-ci.yml
.idea
.jest.config.json
.jest.setup.js
.storybook
Gruntfile.js
crowdin.yml
demo
docker
docker-compose-dev.yml
node_modules
src/css
src/less
src/video
src/img/card_teasers
src/img/papericon
src/img/screenshots
scripts
storybook-static
webpack-api.config.js
webpack-ext.config.js
webpack-in-form-menu.config.js

#jest test coverage
######################
/coverage

# CI                 #
######################
junit.xml