.icon {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* favorites */
    &.fav:before {
        content: "\f005";
        color: @font-lightest;
    }
    &.unfav:before {
        content: "\f005";
        color: @red;
    }
}

.fa.icon svg {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}

a .fa.icon svg:hover, h4:hover svg {
    fill: @font-focus;
}

.fa.icon.light svg {
    fill: @grey-darker;
}

a.disabled .fa.icon svg {
    fill: @grey-lighter;
    pointer-events: none;
}

.disabled .fa.icon svg:hover, .button.disabled .fa.icon svg:hover {
    fill: @grey-lighter;
}

.button .fa.icon svg:hover {
    fill: @font-default;
}

.fa.icon.icon-only svg {
    width: 1.2rem;
    height: 1.2rem;
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}
