/* links */
a {
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 400;
    text-overflow: ellipsis;
    line-height: 2rem;
    border: none;
    color: var(--Text-and-icons-Main-text);
    gap: 1.6rem;
    display: inline-flex;
    overflow: hidden;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: .1rem;
      background-color: var(--Palette-Gradient-7);
    }

    &:link, &:visited {
        color: var(--Text-and-icons-Main-text);
    }

    &:active, &:hover {
      box-shadow: none;
      border: none;
      cursor: pointer;
      &::after {
        background-color: var(--Palette-Contrast-1);
      }
    }

    &:focus, &:focus-visible {
        box-shadow: none;
        border: none;
        cursor: pointer;
        &::after {
            background-color: var(--Palette-Contrast-1);
            box-shadow: 0 0 .4rem 0 var(--States-Focus);
        }
    }


    &.disabled {
        outline: 0;
        text-decoration: none;
        cursor: default;
        opacity: .5;
        pointer-events: none;

        &::after {
          background-color: var(--Palette-Gradient-7);
          box-shadow: none;
        }
    }
}

button.link {
    background: transparent;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 2rem;
    border: none;
    border-radius: 0;
    padding: 0;
    text-align: inherit;
    justify-content: inherit;
    align-items: inherit;
    vertical-align: inherit;
    box-shadow: none;
    min-width: inherit;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: .1rem;
      background-color: var(--Palette-Gradient-7);
    }

    &:active, &:hover {
        box-shadow: none;
        border: none;
        &::after {
          background-color: var(--Palette-Contrast-1);
        }
    }

    &:focus, &:focus-visible {
        box-shadow: none;
        border: none;
        &::after {
          background-color: var(--Palette-Contrast-1);
          box-shadow: 0 0 .4rem 0 var(--States-Focus);
        }
    }

    &:disabled, &.disabled {
        background: transparent;
        outline: 0;
        text-decoration: none;
        cursor: default;
        opacity: .5;
        pointer-events: none;
        box-shadow: none;

        &::after {
          background-color: var(--Palette-Gradient-7);
          box-shadow: none;
        }
    }

    &.inline {
        display: inline-block;
    }

    &.no-border {
        &::after {
            content: none;
        }
    }
}

button.link-icon {
    background: transparent;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 2rem;
    border-radius: 0;
    padding: 0;
    text-align: inherit;
    justify-content: inherit;
    align-items: inherit;
    vertical-align: inherit;
    box-shadow: none;
    min-width: inherit;

    .svg-icon svg {
        width: 1.6rem;
        height: 1.6rem;
    }
    .link-label {
        border-bottom: .1rem solid @link-border;
    }

    &:focus {
        box-shadow: none;
        .link-label {
            border-bottom: .1rem solid @link-border;
        }
    }

    &:focus-visible {
        box-shadow: 0 0 .4rem @shadow-focus-color, inset 0 0 0 .1rem @button-focus-border;
        outline: @outline-default-border;
        .link-label {
            border: none;
        }
    }

    &:hover  {
        text-decoration: none;
        cursor: pointer;
        color: @text-focus-color;
        --icon-color: @text-focus-color;
        .link-label {
            border-bottom: 1px solid @link-hover-border;
            box-shadow: none;
        }
    }

    &:active {
        --icon-color: @text-focus-color;
        .link-label {
            background: transparent;
            outline: @outline-default-border;
            color: @text-focus-color;
            margin-bottom: .1rem; // Prevent a difference of 1px due to the border none
            border: none;
            box-shadow: none;
        }

    }

    &:disabled {
        cursor: default;
        pointer-events: none;
        background: transparent;
        outline: 0;
        text-decoration: none;
        box-shadow: none;
        opacity: .5;

        .link-label {
            border-bottom: 1px solid var(--Palette-Gradient-7);
        }
    }
}
