/* Create and edit resource dialog */
.create-resource, .edit-resource {
  /* dialog wrapper */
  .dialog {
    padding: 0;
    max-width: 96rem;
    min-width: 38rem;
  }
  /* header */
  .dialog-header {
    padding: 2.4rem;

    .dialog-title-wrapper h2 {
      font-size: 2.4rem;
    }
  }

  .dialog-content {
    display: flex;
    padding-right: 1.6rem;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    height: 71rem;

    .left-sidebar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.6rem;
      align-self: stretch;
      width: 20%;
      min-width: 23rem;
      max-width: 40rem;
      min-height: 0;

      .main-action-wrapper {
        padding: 0 1.6rem;
      }

      .sidebar-content-sections {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: .8rem;
        align-self: stretch;
        flex: 1 0 auto;
        padding: 0 1.6rem;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: var(--Workspace-Elevator) transparent;

        .section-header {
          display: flex;
          padding: .8rem 1.6rem;
          align-items: center;
          gap: .8rem;
          align-self: stretch;
          justify-content: flex-start;
          border-radius: var(--Button-border-radius);

          svg {
            &.caret-down, &.caret-right {
              width: inherit;
              height: inherit;
            }

            &.caret-right {
              margin-right: .2rem;
            }
          }

          // Hover
          &:hover {
            background: var(--Sections-Filter-selected);
          }
        }

        .section-content {
          display: flex;
          padding-right: 1.6rem;
          justify-content: flex-start;
          align-items: center;
          gap: 8px;
          align-self: stretch;
          border-radius: var(--Button-border-radius);

          > button.no-border {
            flex: 1 0 auto;
            padding: .8rem 0 .8rem 3.2rem;
            justify-content: flex-start;
          }

          > button.button-transparent {
            display: none;
          }

          &:hover {
            > button.button-transparent {
              display: flex;
            }
          }

          // Selected
          &:hover, &:focus-visible, &:focus, &.selected {
            background: var(--Sections-Filter-selected);
          }

          &.selected {
            font-weight: 700;
          }

          &.disabled {
            background: none;
          }
        }
      }

      .section-card {
        display: flex;
        padding: 1.6rem;
        justify-content: center;
        align-items: center;
        align-self: stretch;

        .card {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          flex: 1 0 0;
          border-radius: var(--Section-border-radius);
          background: var(--Context-buttons-Updgrade-resource-card-title);
          min-width: 0;

          .title {
            display: flex;
            padding: .8rem 1.2rem;
            justify-content: center;
            align-items: center;
            align-self: stretch;

            .text {
              font-size: 13px;
              font-weight: 600;
              line-height: normal;
              flex: 1 0 0;
              text-align: left;
            }

            svg &:first-child {
              width: 1.8rem;
              height: 1.8rem;
            }
          }

          .content {
            display: flex;
            padding: .8rem;
            flex-direction: column;
            align-items: center;
            gap: .8rem;
            align-self: stretch;
            border-top: 1px solid var(--Action-button-Active-action-button-border);
            background: var(--Context-buttons-Updgrade-resource-card-background);
            border-radius: 0 0 var(--Section-border-radius) var(--Section-border-radius);
            box-sizing: border-box;

            p {
              font-size: 13px;
              font-weight: 400;
              line-height: normal;
            }

            .actions-wrapper {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 1.6rem;
              align-self: stretch;
              min-width: 0;

              button {
                font-size: 13px;
                font-weight: 600;
                line-height: normal;

                &.link {
                  font-weight: 400;
                }
              }
            }
          }
        }
      }
    }

    .grid-and-footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      flex: 1 0 0;
      align-self: stretch;

      .grid {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.6rem;
        flex: 1 0 0;
        align-self: stretch;

        .resource-info {
          display: flex;
          padding-left: 1.6rem;
          align-items: center;
          align-self: stretch;
          border-radius: var(--Section-border-radius);
          background: var(--Workspace-Panels-background);

          &.skeleton {
            height: 9.2rem;
          }

          .resource-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            background: var(--Resource-icon-Resource-icons-backgound);
            text-align: center;
            border-radius: 50%;
            width: 5.6rem;
            height: 5.6rem;

            svg {
              width: 3.3rem;
              height: 3.3rem;
              margin-top: 0.15rem;
              --icon-color: var(--Resource-icon-Resource-icon-color);
              --icon-background-color: none;
            }
          }

          .information {
            display: flex;
            padding: 1.6rem 0;
            flex-direction: column;
            align-items: flex-start;
            gap: .8rem;
            flex: 1 0 0;

            .input.text {
              display: flex;
              flex-direction: column;
              padding: 0 1.6rem;
              align-self: stretch;

              input {
                margin-bottom: 0;
              }

              .warning-message, .error-message {
                margin-bottom: 0;
                margin-top: 1.2rem;
              }
            }

            .breadcrumbs {
              display: flex;
              padding: 0 1.2rem;
              align-items: baseline;
              align-self: stretch;
              flex-wrap: wrap;
              font-size: 1.2rem;
              line-height: 1.6rem;

              .folder-name {
                display: flex;
                padding: 0 .4rem;
                justify-content: center;
                align-items: center;
                border-radius: var(--Border-radii-Button-border-radius);
              }

              .caret {
                display: flex;
                padding: 0 .2rem;
                flex-direction: column;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }

      .submit-wrapper {
        display: flex;
        padding: 1.6rem 0;
        justify-content: flex-end;
        align-items: center;
        gap: 2.4rem;
        align-self: stretch;
      }
    }
  }
}
