<!DOCTYPE html>
<html>
    <head>
        <!--Page title-->
        <title>{{{thankyou.page_title}}}</title>
        <!--Favourite icon-->
        <link rel="shortcut icon" href='{{page.favicon}}'>
        <meta charset="utf-8">
        <!--Viewport for Responsive layout-->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!--Bootstrap & ChargeBee compiled CSS -->
        <link href="http://themes.chargebee.com/static/app-static-assets/cdn-tpl_theme-1.0.5/stylesheets/core_v2.css" rel="stylesheet" media="screen" type="text/css">
        <!-- CSS based on the configured preset -->
        <link href="{{theme_preset_css}}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div class="navbar navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    {{#header.use_logo}}
                    <img src="{{header.logo}}" alt="{{{header.title}}}" class="navbar-brand img-responsive">
                    {{/header.use_logo}}
                    {{^header.use_logo}}
                    <span class="navbar-brand">{{{header.title}}}</span>
                    {{/header.use_logo}}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="text-center">
                <h3>{{{thankyou.page_heading}}}</h3>
                <p class="lead">{{{thankyou.content}}}</p>
            </div>
            <img src="{{thankyou.image}}" class="img-responsive center-block"><br>
            <!--chargebee content start-->
            <div id="__CHARGEBEE_CONTENT__"></div>
            <!--chargebee content end-->
            <br><br>
        </div>
        <!--Need sticky footer? Just add the "cb-sticky-footer" id.-->
        <div class="navbar navbar-static-bottom" id="cb-sticky-footer">
            <div class="container">
                {{{footer.content}}}
            </div>
        </div>
    </body>
</html>
