.master-password.dialog {

    label {
        margin-bottom: 1em;
    }
    input[type=text],
    input[type=password] {
        width: 80%;
    }

    // Invisible field that Will receive the first focus
    // before the passphrase field.
    input.focus_first {
        border-width: 0;
        font-size: 0;
        line-height: 0;
    }

    div.input.checkbox,
    div.input.select {
        display: inline;
    }
}

.master-password.login-form {
    input[type=text],
    input[type=password] {
        width: 80%;
    }
    .submit-wrapper {
        .button {
            margin-top: .5em;
        }
    }
    .input.checkbox {
        label {
            font-size: 0.938em;
        }
    }
}