/* password share tab */
.dialog .share-tab,
.sidebar .shared-with {
	.form-content {
		padding:1em;
	}

	.permission-edit {
		padding:0em;
	}

	/* list of existing permissions settings */
	.permissions.scroll {
		max-height:19em;
		margin:0;
	}

	.row {
		.clearfix();
		font-size:.813em;
		padding:.825em .5em .5em 1em;
		border-bottom:1px dotted @border-default;

		&:last-child {
			border:0;
		}

		/* user summary */
		.avatar img {
			width:36px;
			height:36px;
			float:left;
		}
		.user,
		.group {
			width:50%;
			float:left;
			padding-left:1em;
			padding-right:1em;
		}
		.details {
			.clearfix();
			.name {
				float:left;
				max-width:200px;
				.ellipsis();
			}
			.more_details {
				margin-left:.5em;
				margin-top:0;
			}
			.email {
				.ellipsis();
				font-weight:bold;
				padding-bottom:.125em;
			}
		}
		.permission_changes a {
			color:@font-light;
			.ellipsis();
			display:block;
			border:0;
		}
		.rights {
			float:left;
			margin-top:.5em;
			width:25%;
			select {
				width:95%;
				font-size: 1em;
			}
		}
		/* row actions */
		.actions {
			float: right;
			margin-top: 1em;
			a {
				font-size: 1.125em;
				padding: .25em .5em .2em .5em;
				border: 1px solid transparent;
			}
			a:hover {
				border: 1px solid @border-default;
			}
		}
		&.inherited-permission .inherited-actions {
			display:none;
			float:right;
		}

		&.inherited-permission:hover .inherited-actions {
			display:block;
		}

		&.inherited-permission .inherited-actions a {
			color: @font-light;
		}
	}

	/* new/updated permissions */
	.permission-updated {
		background: #FFFAE7;

	}

	/* message */
	.message {
		font-size:0.813em;
		padding-left:2em;
	}

	.permission-add {
		background-color: @white;
		padding: 0 1em 1em 1em;
		.clearfix();

		#passbolt-password-share-autocomplete-wrapper {
			position:relative;
			width:100%;
		}
	}
}

.sidebar .sharedwith {
  .row {
    .user,
    .group {
      width: 75%;
      padding-top: 0;
    }
  }
}


/* hide icons if there is no space */
@media all and (max-width: 480px) {
	.dialog .share-tab {
		.permissions.scroll {
			height:auto;
			margin:0;
		}
		.row .user,
		.row .group {
			width:45%;
		}
	}
}
