.subscription-key {
  .subscription-information {
    flex: 1;
    margin-left: 1.6rem;
    ul {
      margin: 1.6rem;

      li {
        .clearfix();
        padding-bottom:.25em;

        span {
          .ellipsis();
        }
        .label {
          min-width: 15rem;
          width: 20%;
          max-width: 25rem;
          display: inline-block;
          float: left;
          height: 1.8em;
          color: @text-lighter-color;

          &.error {
            color: @text-error-color;
          }
          &.warning {
            color: @text-warning-color;
          }
        }
        .value {
          width: 55%;
          display: inline-block;
          float: left;
          height: 1.8em;

          &.error {
            color: @text-error-color;
          }
          &.warning {
            color: @text-warning-color;
          }
        }
      }
    }

    p {
      margin: 1.6rem;
    }

    .actions-wrapper {
      display: flex;
      align-items: center;
      margin: 1.6rem;

      a {
        margin-left: 1.6rem;
      }
    }
  }
}