.group-user-details-tooltip {
  &.skeleton {
    position:relative;
    .email {
      margin: .3rem 0 0 0;
      height: 1.3rem;
      width: 12rem;
      background: @tooltip-text-color;
      opacity: 0.2;
      .rounded();
    }
    .fingerprint-line {
      margin: .3rem 0 0 0;
      height: 1.3rem;
      width: 18rem;
      background: @tooltip-text-color;
      opacity: 0.2;
      .rounded();
    }
    .shimmer {
      position:absolute;
      top:0;
      left:0;
    }
  }
}
