/* Dialog */
.dialog-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: @dialog-overlay-background;
  overflow: auto;
}

.dialog {
  position: relative;
  max-width: 48rem;
  margin: auto;
  margin-top: 1%;
  /* some space for the footer / notification area in case it is really tall */
  margin-bottom: 4.8rem;
  background: @dialog-background;
  border: 1px solid @dialog-border;
  border-radius: .3rem;
  box-sizing: border-box;
  box-shadow: 0 1rem 1rem @dialog-box-shadow-color;

  /* header */
  .dialog-header {
    display: flex;
    align-items: center;
    padding: 1.6rem;

    .dialog-title-wrapper {
      flex: 1;
      display: flex;
      align-items: center;
      width: 90%;
      h2 {
        margin: 0;
        font-size: 1.9rem;
        line-height: 2.6rem;
        .ellipsis();
      }

      .dialog-header-subtitle {
        padding-top: .4rem;
        padding-left: .8rem;
        font-size: 1.4rem;
        line-height: 2rem;
      }

      .tooltip {
        margin-left: 1rem;
        line-height: 0;
      }
    }
  }

  .dialog-content{
    .dialog-variable{
      overflow-wrap: break-word;
    }
  }

  /* inputs */
  .form-content,
  .dialog-body {
    background: @default-background;
    padding: 1.6rem;
    // Remove padding
    &.no-padding {
      padding: 0;
    }

    // all direct child element
    & > * {
      margin-bottom: 1.6rem;
    }
  }

  input[type=text],
  textarea {
    width: 100%;
    box-sizing: border-box;
    .clearfix();
  }

  /* Error display */
  textarea+.message,
  input+.message {
    display: none;
    /* do not show empty placeholders */
  }

  textarea+.message.error,
  input+.message.error {
    display: block;
    clear: both;
    width: 100%;
  }

  .inline-error {
    color: @text-error-color;
    font-weight: bold;
  }

  .accordion-header a {
    display: inline;
  }

  /* submit / cancel */
  .submit-wrapper,
  .dialog-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1.6rem;

    .button-left {
      margin-right: auto;
    }

    .cancel {
      position: relative;
      margin-left: auto;
      margin-right: 1.6rem;
    }
  }

  .message {
    span.svg-icon {
      margin-right: .5rem;
    }
  }
}

/* can also be used outside a dialog, like the sidebar */
.dialog-close {
  margin-left: 1rem;
  padding: 0;
  &, &:hover {
    display: block;
    border: none;
  }

  .svg-icon {
    padding: .65rem;
    width: 2.4rem;
    height: 2.4rem;
    text-align: center;
    display: block;
    line-height: 1.2rem;
    border: none;
    box-sizing: border-box;
  }
}

/* reduce font-size for small screen */
@media all and (max-width: 480px) {
  .dialog {
    margin: 0;
    border: 0;
    box-shadow: none;
    width: 100%;
    max-width: 100%;
    margin-bottom: 2.5em;
  }
}