/*
  	Copy secret component
  		This is what is used to copy a secret in the clipboard
*/
.secret-copy {
    > button {
        display: block;
        border: 0;

        &:hover {
          color: var(--Palette-Contrast-1);
        }
        > span {
          display: none;
        }

        &:before, &:after {
          font-family: 'Obfuscation', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 100%;
        }
    }

    > pre {
        display: none;
    }

    &.secret-password {
      > button:before {
        content: '00000000';
      }
    }

    &.secret-totp {
      > button {
        &:before {
          content: '000';
        }
        &:after {
          margin-left: .5rem;
          content: '000';
        }
      }
    }
}
