/* Resource secret history dialog */
.resource-secret-history {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: center;
  box-sizing: border-box;
  padding: 6.4rem 19rem;
  min-width: 128rem;
  min-height: 76.8rem;
  /* dialog wrapper */
  .dialog {
    padding: 0;
    max-width: 100rem;
    min-width: 90rem;
    max-height: 80rem;
    min-height: 64rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    width: 100%;
    align-self: center;
  }
  /* header */
  .dialog-header {
    padding: 2.4rem;

    .dialog-title-wrapper h2 {
      font-size: 2.4rem;
    }
  }

  .dialog-content {
    display: flex;
    padding-right: 1.6rem;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;

    .left-sidebar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.6rem;
      align-self: stretch;
      width: 30%;
      min-width: 30rem;
      max-width: 47rem;
      min-height: 0;

      .sidebar-content-sections {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: .8rem;
        align-self: stretch;
        flex: 1 0 0;
        padding: 0 1.6rem;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: var(--Workspace-Elevator) transparent;

        .section-content {
          display: flex;
          flex-direction: column;
          align-self: stretch;

          button {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: .4rem;
            align-self: stretch;
            border-radius: var(--Button-border-radius);
            padding: 1.2rem .8rem 1.2rem 1.6rem;
            min-width: 0;

            .creator {
              display: flex;
              align-self: stretch;
              gap: 1.6rem;

              .avatar {
                svg, img {
                  width: 4.2rem;
                  height: 4.2rem;
                }
              }

              .profile {
                display: flex;
                flex-direction: column;
                align-self: stretch;
                align-items: flex-start;
                gap: .2rem;
                min-width: 0;

                .name {
                  display: flex;
                  align-self: stretch;
                  gap: .8rem;
                  line-height: 2rem;

                  .tooltip-portal span {
                    display: flex;
                  }
                }

                .username {
                  width: fit-content;
                  max-width: 100%;
                  font-size: 1.1rem;
                  line-height: 1.5rem;
                  color: var(--Text-and-icons-Secondary-text);
                }
              }
            }

            .additional-information {
              display: flex;
              flex-direction: column;
              align-self: stretch;
              align-items: flex-start;
              gap: .8rem;
              margin-left: 5.8rem;

              .status {
                font-size: 1.1rem;
                line-height: 1.5rem;
                padding: .1rem .8rem .2rem .8rem;
                border-radius: var(--Button-border-radius);
                width: fit-content;
                max-width: calc(100% - 1.6rem);

                &.suspended {
                  background-color: var(--Status-and-role-pills-Status-pill-suspended-background);
                }

                &.deleted {
                  background-color: var(--Status-and-role-pills-Status-pill-deleted-background);
                }
              }

              .updated-date {
                width: fit-content;
                max-width: 100%;
                font-size: 1.2rem;
                line-height: 1.6rem;
                span {
                  color: var(--Text-and-icons-Secondary-text);
                }
              }
            }

            // Selected
            &:hover, &:focus-visible, &:focus, &.selected {
              background: var(--Sections-Filter-selected);
            }

            &:disabled {
              background: none;
            }
          }

          &:last-child {
            margin-bottom: 1.6rem;
          }
        }
      }
    }

    .grid-and-footer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      flex: 1 0 0;
      align-self: stretch;

      .grid {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.6rem;
        flex: 1 0 0;
        align-self: stretch;
      }

      .submit-wrapper {
        display: flex;
        padding: 1.6rem 0;
        justify-content: flex-end;
        align-items: center;
        gap: 2.4rem;
        align-self: stretch;
      }
    }
  }
}
