.move-folder-dialog {
  .form-content label {
    clear: both;
    font-size: 0.938em;
    line-height: 1.45em;
    padding: 0;
    display: block;
    font-weight: normal;
    cursor: pointer;
    margin-top: -2.88em;
    margin-left: 1.25em;
  }
  .form-content.search-input {
      padding-bottom: 0;
  }
  .form-content.breadcrumbs {
      display: flex;
      .breadcrumbs-up {
          padding: 0 0.7em;
          border: 1px solid @grey;
          border-radius: 3px;
          .svg-icon svg {
              width: 1rem;
              height: 1rem;
              margin: 3px auto;
          }
      }
      .parent-folders {
          padding: 0.4em 0.4em 0.4em 0.7em;
          font-size: 0.9em;
          .svg-icon.folder svg {
              width: 1.3rem;
              height: 1.3rem;
              margin-top: -4px;
              fill: @grey-darkest;
          }
          .svg-icon.angle-right svg {
              width: 0.88rem;
              height: 0.88rem;
          }
      }
      a {
          border: none;
          &:hover  {
              color: @black;
              .svg-icon svg {
                  fill: @black;
              }
          }
      }
  }
  .form-content.folders-list {
      padding: 0;
      max-height: 19em;
      &:last-child {
          border-bottom: 0;
      }
      .item {
          padding: 0.75em 2em;
          border-bottom: 1px solid @grey-lighter;
          cursor: pointer;
          &:hover {
              .svg-icon.angle-right svg {
                  display: inline-block;
                  fill: @black;
              }
              background: @grey-lighter;
          }
          span.folder-name {
              margin-left: 0.4em;
          }
          span.role-name {
            color: @grey-darker;
            font-size: 0.65em;
            margin-left: 0.4em;
          }
      }
      .svg-icon.folder svg {
          width: 1.3rem;
          height: 1.3rem;
          margin-top: -2px;
          fill: @grey-darkest;
      }
      .svg-icon.angle-right svg {
          width: 1.3em;
          height: 1.3em;
          margin: 0;
          fill: @grey;
          float: right;
      }
  }
  .submit-wrapper .new-folder {
      margin-left: 1.23em;
      display: inline-block;
      margin-top: 0.5em;
      &:hover {
          .svg-icon svg {
              fill: @blue;
          }
      }
      .svg-icon svg {
          margin-top: 2px;
      }
  }
  .move-search-autocomplete-wrapper {
      display: none;
      .autocomplete-wrapper {
          position: relative;
          .autocomplete-content {
              position: absolute;
              top: -0.5em;
              left: 0;
              width: 100%;
              z-index: 899;
              padding: 0;
              margin: 0;
              border: 1px solid @grey;
              max-height: 10em;
              overflow: auto;
              box-sizing: border-box;
              .row:after, .row:before {
                  content: "";
                  display: table;
              }
              .row {
                  zoom: 1;
                  font-size: 0.9em;
                  padding: 0.825em 0.5em 0.5em 1em;
                  .user {
                      width: 75%;
                      float: left;
                      padding-right: 1em;
                      padding-bottom: 1em;
                  }
                  .name {
                      display: block;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                  }
                  .details {
                      color: @grey-dark;
                      white-space: nowrap;
                      overflow: hidden;
                      text-overflow: ellipsis;
                      -o-text-overflow: ellipsis;
                      -ms-text-overflow: ellipsis;
                      display: block;
                  }
              }
          }
      }
  }
  .permission-inherit {
    margin-top: 1.5em;
    cursor: pointer;
    .permission-content {
      margin-left: 1.5em;
      margin-top: -1.3em;
      margin-bottom: 1em;
      img {
        width: 1.65em;
        height: 1.65em;
        margin: 1em -0.75em;
        border: 1px solid @grey;
        border-radius: 0.35em;
        padding: 0.3em;
      }
      .content {
        margin-top: -3.95em;
        margin-left: 2.2em;
      }
      .content-info {
        font-size: 0.75em;
        color: @grey-darker;
        margin-left: 3em;
      }
    }
  }
}