// @depends on accordion.less
.error-details {
  .accordion-header a {
    border:0;
  }
  .accordion-content textarea {
    font-size: 1rem;
    height: 12rem;
    font-family: monospace;
  }
}

.message.error {
  padding: 1.6rem;
  color: #b02a37;
  border: 1px solid #f1aeb5;
  background-color: #f8d7da;
  margin: 1.6rem 0 1.6rem 0;
  border-radius: 0.4rem;
}
