.quickaccess {
  .confirm-metadata-key {
    .form-container {
        margin: 1.6rem;

        p {
          margin-bottom: 1.6rem;

          .creator {
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }
    }

    .accordion-content {
      .information-details {
        display: flex;
        padding: 1.6rem;
        gap: 1.6rem;
        align-items: flex-start;
        align-self: stretch;
        border-radius: var(--Section-border-radius);
        background: var(--Action-button-Action-button-background);

        .info-type {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          color: var(--Text-and-icons-Secondary-text);
        }

        .info-data {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          flex: 1 0 0;
        }
      }
    }

    button.button.primary {
      font-size: 1.8rem;
      line-height: 3.2rem;
      padding: 0.8rem 3.2rem;
    }
  }
}