.password-complexity.with-goal {
    position: relative;
    margin-bottom: 1.2rem;
    .complexity-text {
        display: flex;
        font-size: 1rem;
        line-height: 1.4rem;
        color: @complexity-text-color;
    }

    .progress {
        box-sizing: border-box;
        display: block;
        position: relative;
        height: 1rem;
        width: 100%;
    }

    .progress-bar {
        position: absolute;
        border-radius: .1rem;
        height: .2rem;
        margin-top: .3rem;
        display: block;
        top: 0;

        &.background {
            width: 100%;
            background: @complexity-bar-default-background;
            z-index: 0;
        }

        &.foreground {
            width: 0;
            background: @hint-warning-color;
            z-index: 10;

            &.required {
                background: @hint-error-color;
            }
    
            &.reached {
                background: @hint-success-color;
            }
        }

        &.target {
            width: 0;
            background: @table-warning-background;
            z-index: 5;
    
            &.required {
                background: @table-error-background;
            }
        }
    }

    .target-entropy {
        position: absolute;
        top: 0.7rem;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-top: 0;
        border-bottom-color: @complexity-bar-default-background;

        &.recommended {
            border-bottom-color: @hint-warning-color;
        }

        &.required {
            border-bottom-color: @hint-error-color;
        }

        &.reached {
            border-bottom-color: @hint-success-color;
        }

        .tooltip {
            position: absolute;
            top: -0.3rem;
            left: -1rem;
            width: 2rem;
            height: 1.2rem;
            z-index: 20;
        }
    }
}