.password-complexity.with-goal {
    position: relative;
    margin-bottom: 1.2rem;
    .complexity-text {
        display: flex;
        font-size: 1rem;
        line-height: 1.362rem;
        color: var(--Text-and-icons-Secondary-text);
    }

    .progress {
        box-sizing: border-box;
        display: block;
        position: relative;
        height: 1rem;
        width: 100%;

        .tooltip {
            top: 0;
        }
    }

    .progress-bar {
        position: absolute;
        border-radius: .1rem;
        height: .2rem;
        margin-top: .3rem;
        display: block;
        top: 0;

        &.background {
            width: 100%;
            background: var(--Progress-and-entropy-bar-bar-background);
            z-index: 0;
        }

        &.foreground {
            width: 0;
            background: var(--Progress-and-entropy-bar-warning);
            z-index: 10;

            &.required {
                background: var(--Progress-and-entropy-bar-error);
            }

            &.reached {
                background: var(--Progress-and-entropy-bar-success);
            }
        }

        &.target {
            width: 0;
            background: var(--Progress-and-entropy-bar-warning-background);
            z-index: 5;

            &.required {
                background: var(--Progress-and-entropy-bar-error-background);
            }

            &.reached {
                background: var(--Progress-and-entropy-bar-success-background);
            }
        }
    }

    .target-entropy {
        position: absolute;
        top: 0.7rem;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-top: 0;
        border-bottom-color: var(--Progress-and-entropy-bar-bar-background);

        &.recommended {
            border-bottom-color: var(--Progress-and-entropy-bar-warning);
        }

        &.required {
            border-bottom-color: var(--Progress-and-entropy-bar-error);
        }

        &.reached {
            border-bottom-color: var(--Progress-and-entropy-bar-success);
        }

        .tooltip {
            position: absolute;
            top: -0.3rem;
            left: -1rem;
            width: 2rem;
            height: 1.2rem;
            z-index: 20;
        }
    }
}