/*
	autocomplete users results
	basically this list of users is embedded in a dedicated iframe released by the plugin
*/
.autocomplete-wrapper {
    position: relative;

    .autocomplete-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        padding: 0;
        margin: 0;
        background: var(--Field-Field-background);
        border-right: 1px solid var(--Field-Field-border);
        border-left: 1px solid var(--Field-Field-border);
        border-bottom: 1px solid var(--Field-Field-border);
        border-radius: 0 0 var(--Menu-radius) var(--Menu-radius);
        max-height: 19.8rem;
        overflow: auto;
        box-sizing: border-box;
        box-shadow: var(--Menu-drop-shadow-Menu-drop-shadow-X) var(--Menu-drop-shadow-Menu-drop-shadow-Y) var(--Menu-drop-shadow-Menu-drop-shadow-blur) 0 var(--Menu-drop-shadow-Menu-drop-shadow); // filter: drop-shadow;

        .row {
            font-size: 1.5rem;
            padding: .8rem 1.6rem;
            margin: .8rem 0;

            &:last-child {
                border: 0;
            }

            &:hover, &.selected {
                background: var(--Grid-Grid-selected-row);
                box-shadow: inset .1rem .1rem 0 0 var(--States-Hover-Highlight), inset -.1rem -.1rem 0 0 var(--States-Hover-Shadow);
            }

            /* active */
            &:active {
              box-shadow: inset -.1rem -.1rem 0 0 var(--States-Active-Highlight), inset .1rem .1rem 0 0 var(--States-Active-Shadow);
              background: var(--Grid-Grid-selected-row);
            }
            /* user summary */
            .avatar {
                float: left;
            }
            .user,
            .group {
                width: calc(100% - 4.8rem);
                float: left;
                padding-left: .8rem;
            }
            .name {
                display: inline-block;
                max-width: 100%;
                .ellipsis();
            }
            .details {
                color: var(--Text-and-icons-Secondary-text);
                .ellipsis();
                display: block;
            }

            &.loading {
                .main-cell {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                }
                .info {
                    margin-left: 1.6rem;
                }
            }
        }

        .autocomplete-item {
            &.suspended {
                opacity: 0.5;
            }

            button {
                width: 100%;

                & > span {
                  max-width: 100%;
                }

                .avatar svg {
                  width: 4.2rem;
                  height: 4.2rem;
                }
            }

            .user-fullname-container {
              display: flex;

              .tooltip-portal {
                margin-left: 1rem;
                line-height: 1.6rem;

                svg {
                  width: 1.6rem;
                  height: 1.6rem;
                }
              }
            }
        }
    }

    /* hide icons if there is no space */
    @media all and (max-width: 440px) {
        .autocomplete-content {
            height: auto;
            max-height: none;
        }
    }
}

.input.autocomplete.no-focus {
  z-index: 100;
  position: relative;

  input {
    border-radius: var(--Button-border-radius) var(--Button-border-radius) 0 0;
    box-shadow: inset 0 0 0 .1rem var(--Field-Field-border);
  }
}
