.page.administration .app .panel.main .sso-settings.third-party-provider-settings {
    .provider {
        width: 13rem;
        justify-content: flex-start;
    }

    .main-content form.form .warning.message {
      border-radius: var(--Section-border-radius);
    }

  .accordion-header {
    button {
      svg {
        &.caret-right, &.caret-down {
          width: inherit;
          height: inherit;
        }

        &.caret-right {
          margin-right: .2rem;
        }
      }

    }
  }
}