.mfa-policy-settings {
    .input.radio {
      display: flex;
      align-items: center;
      border: 1px solid @default-border;
      background-color: @account-recovery-card-background;
      padding: 1.6rem;
      margin-right: 0;
  
      label p {
        font-weight: normal;
      }
  
      .radio-text {
        padding-left: 1.6rem;
      }
    }
}