.mfa-policy-settings {
    .input.radio {
      display: flex;
      align-items: center;
      margin-right: 0;

      label p {
        font-weight: normal;
      }

      .radio-text {
        padding-left: 1.6rem;
      }
    }
}