.confirm-metadata-key-dialog  {
  .form-content {
    .usercard-detailed-col-2 {
      border-top: none;
      padding: 0;

      .name {
        color: var(--Text-and-icons-Main-text);

        .creator {
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }

    .accordion-content {
      .information-details {
        display: flex;
        padding: 1.6rem;
        margin-top: 1.6rem;
        gap: 1.6rem;
        align-items: flex-start;
        align-self: stretch;
        border-radius: var(--Section-border-radius);
        background: var(--Action-button-Action-button-background);

        .info-type {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          color: var(--Text-and-icons-Secondary-text);
        }

        .info-data {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          flex: 1 0 0;

          .fingerprint .fingerprint-line {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}
