body {
  background: transparent;
}

.web-integration {
  .in-form-icon-logo {
    background: transparent;
    margin:0;
    float:left;
    width: 18px;
    height: 18px;
  }

  a:after {
    content: none;
  }
}