._field-border(@border-color: var(--Field-Field-border)) {
  box-shadow: inset 0 0 0 .1rem @border-color;
}

._field-border-hover(@border-color: var(--Field-Field-border)) {
  box-shadow:
    inset .1rem .1rem 0 0 var(--States-Hover-Highlight),
    inset -.1rem -.1rem 0 0 var(--States-Hover-Shadow),
    inset 0 0 0 .1rem @border-color;
}

._field-border-focus() {
  box-shadow:
    inset 0 0 0 .1rem var(--States-Focus),
    0 0 .4rem 0 var(--States-Focus);
}

._field-border-active(@border-color: var(--Field-Field-border)) {
  box-shadow:
    inset -.1rem -.1rem 0 0 var(--States-Active-Highlight),
    inset .1rem .1rem 0 0 var(--States-Active-Shadow),
    inset 0 0 0 .1rem @border-color;
}

._field-border-disabled(@border-color: var(--Field-Field-border)) {
  box-shadow: inset 0 0 0 .1rem @border-color;
}

._field-borders(@border-color: var(--Field-Field-border)) {
  ._field-border(@border-color);

  &:hover {
    ._field-border-hover(@border-color);
  }

  &:focus, &:focus-visible {
    ._field-border-focus();
  }

  &:active {
    ._field-border-active(@border-color);
  }

  &:disabled {
    ._field-border-disabled(@border-color);
  }
}
