/* palette */
@white: #FFFFFF;
@black: #000000;
@dark-charcoal: #333333;

@button-blue: #2A9CEB;
@bleu-de-france: #2894df;
@steel-blue: #4271b7;

@honeydew: #EDF7EB;
@islamic-green: #0EAA00;
@islamic-green-2: #009900;

@deep-champagne: #FFDBA6;
@blond: #FEF0BF;
@bright-yellow: #FFA724;

@spanish-orange: #DD6A00;

@rosso-corsa: #D40101;
@dark-candy-apple-red: #A40000;
@light-salmon-pink: #FFA6A6;

@davys-grey: #5D5D5D;
@granite-gray: #666666;
@sonic-silver: #7A7A7A;
@gray: #808080;
@gray-2: #7C7C7C;
@gray-3: #80807E;
@taupe-gray: #888888;
@spanish-gray: #989693;
@spanish-gray-2: #9A9A9A;
@quick-silver: #A0A0A0;
@quick-silver-2: #A1A1A1;
@philippine-silver: #B3B3B3;
@gray-x11: #BDBDBD;
@silver-sand: #C4C4C4;
@chinese-silver: #CCCCCC;
@chinese-silver-2: #C9C9C9;
@gainsboro: #DDDDDD;
@gainsboro-2: #DEDEDE;
@gainsboro-3: #DCDCDC;
@azureish-white: #DDEBF8;
@light-silver: #D7D7D7;
@chinese-white: #E0E0E0;
@platinum: #E8E8E8;
@bright-gray: #EEEEEE;
@bright-gray-2: #EBEBE9;
@bright-gray-3: #E9E9E9;
@anti-flash-white: #F0F0F0;
@cultured: #F5F5F5;
@cultured-2: #F8F8F8;
@lotion: #FAFAFA;

/* background */
@background-default: @white;
/* header */
@background-header-first: @dark-charcoal;
@background-header-second: @bright-gray;
/* footer */
@background-footer: @bright-gray;
/* background behind card setup/recover/login */
@background-splash: @anti-flash-white;

/* borders */
/* default */
@border-default: @chinese-white;
/* attention required */
@border-attention-required: @spanish-orange;

/* font */
@font-default: @black;
@font-header-first: @bright-gray-2;
@font-dim: @granite-gray;
@font-light: @taupe-gray;
@font-lighter: @spanish-gray;
@font-lightest: @chinese-white; // not WCAG on background default, for decoration only
@font-focus: @bleu-de-france;
@font-warning: @spanish-orange;
@font-error: @rosso-corsa;
@font-inverse: @white;
@font-dropdown-focus: @white;
@font-hover-secret: @rosso-corsa;
@font-focus-navigation: @white;
@font-error-api: @black;
@font-notification: @black;

/* quickaccess */
@quickaccess-header-background: @bright-gray;
@quickaccess-footer-background: @bright-gray;
@quickaccess-back-link-background: @cultured;
@quickaccess-list-title-background: @cultured;
@quickaccess-list-title-hover-background: @bright-gray-3;
@quickaccess-list-title-active-background: @azureish-white;
@quickaccess-border: @chinese-white;
@quickaccess-font-property-name: @davys-grey;

/* logos */
@logourl: url('@{images}/logo/logo.svg');
@passbolt-icon-without-badge: url('@{images}/logo/icon-without-badge.svg');
@passbolt-icon-badge-1: url('@{images}/logo/icon-badge-1.svg');
@passbolt-icon-badge-2: url('@{images}/logo/icon-badge-2.svg');
@passbolt-icon-badge-3: url('@{images}/logo/icon-badge-3.svg');
@passbolt-icon-badge-4: url('@{images}/logo/icon-badge-4.svg');
@passbolt-icon-badge-5: url('@{images}/logo/icon-badge-5.svg');
@passbolt-icon-badge-5-plus: url('@{images}/logo/icon-badge-5+.svg');
@passbolt-icon-inactive: url('@{images}/logo/icon-inactive.svg');

/* Inform menu */
@inform-menu-hover-background: @bright-gray-3;
@inform-menu-active-background: @azureish-white;
@inform-menu-border: @chinese-white;

/* dialog */
@dialog-background: @bright-gray;
@dialog-background-overlay: rgba(255, 255, 255, 0.9);
@dialog-border: @light-silver;
@dialog-box-shadow: rgba(0, 0, 0, 0.1);
@dialog-divider-border: @chinese-white;
/* share dialog */
@dialog-permission-background-updated: @deep-champagne;
@dialog-permission-border: @cultured-2;
/* folder move dialog */
@dialog-folder-move-selected-background: @cultured-2;
@dialog-folder-move-border: @cultured-2;
@dialog-folder-move-selected-border: @cultured-2;
/* delete user/group conflict dialog */
@dialog-delete-conflict-title-background: @anti-flash-white;

/* buttons */
@button-text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
@button-primary-text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);

@button-background: @cultured-2;
@button-active-background: @gainsboro-2;
@button-border: @chinese-white;
@button-focus-border: @bleu-de-france;

@button-icon-background: @bright-gray;
@button-icon-active-background: @chinese-white;
@button-icon-border: @gray-x11;

@button-primary-background: @bleu-de-france;
@button-primary-border: @bleu-de-france;
@button-primary-color: @white;

@button-warning-background: @rosso-corsa;
@button-warning-border: @rosso-corsa;
@button-warning-color: @white;

@button-transparent-background: rgba(@white, .1);
@button-transparent-border: rgba(@black, .05);

/* link */
@background-link-focus: @bleu-de-france;
@border-link-message: @taupe-gray;
@border-link-default: @chinese-silver;
@border-link-focus: @bleu-de-france;

/* tooltip */
@background-tooltip: @philippine-silver;
@font-tooltip: @black;

/* inputs */
@input-background: @white;
@input-background-disabled: @anti-flash-white;
@input-infield-background: @cultured-2;
@input-border: @gray-x11;
@input-infield-border: @chinese-white;
@input-focus-border: @bleu-de-france;

/* checkbox */
@input-checkbox-background: @white;
@input-checkbox-background-disabled: @silver-sand;
@input-checkbox-image-disabled: @quick-silver-2;
@input-checkbox-border: @quick-silver;
@input-checkbox-border-disabled: @silver-sand;
@input-checkbox-focus-border: @bleu-de-france;

/* controls */
@controls-check:url('@{images}/controls/check_black.svg');

/* radio */
@input-radio-background: @white;
@input-radio-dot-background: @button-blue;
@input-radio-background-disabled: @silver-sand;
@input-radio-dot-background-disabled: @quick-silver-2;
@input-radio-border: @quick-silver;
@input-radio-border-disabled: @silver-sand;
@input-radio-focus-border: @bleu-de-france;

/* radio list */
@input-radio-list-background: @cultured-2;
@input-radio-list-border: @chinese-white;
@input-radio-list-hover-border: @silver-sand;
@input-radio-list-focus: @bleu-de-france;

/* toggle */
@input-toggle-background: @gray;
@input-toggle-focus-background: @bleu-de-france;
@input-toggle-dot-background: @white;
@input-toggle-checked-background: @islamic-green-2;
@input-toggle-focus-border: @bleu-de-france;

/* select */
@select-background: @cultured-2;
@select-setup-extension-background: @white;
@select-hover-background: @gainsboro;
@select-focus-background: @bleu-de-france;
@select-focus-font: @white;
@select-border: @chinese-white;
@select-focus-border: @bleu-de-france;

/* range */
@input-range-background: @chinese-silver;
@input-range-dot-background: @anti-flash-white;
@input-range-dot-border: @chinese-silver;

/* complexity */
@complexity-color: @gray-2;
@complexity-bar-background-default: @gray-x11;
@complexity-bar-background-gradient: linear-gradient(to right, @dark-candy-apple-red, @bright-yellow, @islamic-green);

/* hints */
@hint-success-color: @islamic-green-2;
@hint-warning-color: @spanish-orange;
@hint-error-color: @rosso-corsa;

/* drag items */
@background-drag: @gray;
@background-drag-number: @rosso-corsa;
@font-drag: @white;

/* announcement */
@announcement-background: @blond;
@announcement-font: @black;

/* chips */
@chips-font: @white;
@chips-beta-background: @spanish-orange;
@chips-new-background: @bleu-de-france;

/* autocomplete */
@autocomplete-background: @white;
@autocomplete-hover-background: @gainsboro-2;
@autocomplete-selected-background: @cultured-2;
@autocomplete-border: @gray-x11;

/* progress bar */
@background-progress-bar-default: @gray-x11;
@background-progress-bar: @rosso-corsa;

/* sidebar */
@panel-background: @lotion;
@panel-middle-background: @lotion;
@sidebar-background: @background-default;
@sidebar-border: @anti-flash-white;
@sidebar-section-background: @background-default;
@sidebar-section-header-background: @background-default;

/* Navigation menu */
@navigation-menu-hover-background: @gainsboro-3;
@navigation-menu-border-focus: @bleu-de-france;
@navigation-menu-background-focus: @bleu-de-france;

/* dropdown menus */
@dropdown-background: @cultured-2;
@dropdown-profile-background: @white;
@dropdown-focus-background: @bleu-de-france;
@dropdown-item-hover-background: @gainsboro-3;

/* grid */
@tableview-background: @white;
@tableview-background-even: @lotion;
@tableview-background-hover: @bright-gray-3;
@tableview-background-selected: @azureish-white;
@tableview-header-background: @bright-gray;
@tableview-shadow: @white;
@breadcrumb-background: @lotion;
@grid-border: @chinese-white;

/* panel info */
@panel-info-header-icon-background: @anti-flash-white;
@panel-info-header-icon-color: @gray-2;
@panel-info-header-subtitle-font-color: @gray-3;
@panel-info-background: @white;
@panel-info-content-background: @white;
@panel-info-notice-background: @azureish-white;
@panel-info-border: @chinese-white;

/* comment */
@comment-background: @bright-gray;

/* tags */
@tag-color: @bleu-de-france;
@tag-border: @bleu-de-france;
@tag-background: rgba(42,156,235,0.05);
@tag-hover-color: @white;
@tag-hover-border: @bleu-de-france;
@tag-hover-background: @bleu-de-france;
@tag-editor-border-focus: @bleu-de-france;

/* notice */
@notice-background: @platinum;

/* tables */
@table-background: @white;
@table-background-warning: @blond;
@table-background-error: lighten(@rosso-corsa, 53%);
@table-border: @chinese-white;
@table-row-even-background: @white;

/* tabs */
@tab-selected-background: @white;
@tab-unselected-background: @light-silver;
@tab-border: @light-silver;

/* mfa */
@mfa-background: @anti-flash-white;
@mfa-border: @anti-flash-white;
@mfa-provider-border: @chinese-white;
@mfa-device-color: @islamic-green-2;

/* feedback card */
@feedback-card-border: @chinese-white;

/* account recovery */
@account-recovery-card-background: @cultured-2;

/* messages */
@message-error-color: @black;
@message-error-background: @light-salmon-pink;
@message-success-color: @black;
@message-success-background: @honeydew;
@message-notice-color: @black;
@message-notice-background: @azureish-white;
@message-warning-color: @black;
@message-warning-background: @deep-champagne;

/* default icon svg fill */
@icon-color: @black;
@icon-background-color: @white;
@icon-color-button-primary: @white;
@icon-background-color-button-primary: @black;
@icon-color-button-warning: @white;
@icon-background-color-button-warning: @black;

/* favorite icon fill */
@icon-favorite-color: @rosso-corsa;
@icon-unfavorite-color: @chinese-silver-2;

/* exclamation icon fill */
@icon-exclamation-required-color: @spanish-orange;
@icon-exclamation-default-color: @spanish-gray-2;
@icon-exclamation-color: @white;

/* spinner icon fill */
@spinner-color: @sonic-silver;
@spinner-background: @black;
@spinner-color-button-primary: @white;
@spinner-background-button-primary: @white;
@spinner-color-button-warning: @white;
@spinner-background-button-warning: @white;

/* failed icon fill */
@icon-failed-color: @rosso-corsa;

/* success icon fill */
@icon-success-color: @islamic-green-2;

/* box shadows */
@shadow-opacity-hover-black: 0.2;
@shadow-opacity-hover-white: 0.25;
@shadow-opacity-active-white: 0.35;
@shadow-opacity-active-black: 0.35;
@shadow-opacity-dropdown: 0.1;
@shadow-opacity-select: 0.1;
@shadow-opacity-panel-info: 0.3;
@shadow-focus: @button-blue;
@shadow-drag: @gray;