.email-notification-settings {
  .section {
    display: flex;
    column-gap: 1.6rem;

    label {
      margin-bottom: 1.2rem;
    }

    .input.toggle-switch .toggle-switch-checkbox + label {
      width: initial;
      white-space: initial;
      overflow: initial;
      text-overflow: initial;
    }

    & > div {
      flex: 1;
    }
  }
}