#scim-settings {
    input[type=text] {
        max-width: initial;
    }
    .select-container{
        max-width: initial;
        width: 100%;
        margin-bottom: 0.8rem;        
        .select {
          max-width: initial;
          width: 100%;   
        }
    }
    .section {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        .toggle-switch {
            margin-bottom: unset;
        }
    }
}