.smtp-settings {
    .advanced-settings {
        & > * {
            margin-bottom: 1.6rem;
        }
    }
    .form {
        .accordion-header {
            .link.no-border {
                svg {
                    width: .8rem;
                    height: .8rem;
                }
            }
        }
        
        .input.password, .input-password-wrapper {
        margin-bottom: 0;
      }
    }
}