.page.status,
.page.setup {
  margin-bottom: 2.5em;
}
.page.status .grid,
.page.setup .grid {
  padding-bottom: 2em;
}
.page.status #url-rewriting-warning,
.page.setup #url-rewriting-warning {
  display: none;
}
.page.status .grid .message,
.page.setup .grid .message {
  padding: .75em 1em;
  margin-bottom: .5em;
}
.page.status .grid .input .message,
.page.setup .grid .input .message {
  padding: 0 0 0.5em 0;
}
/* Don't display cake errors, we provide feedback */
.cake-error {
  display: none;
}
