// Exception for group edit dialog and form.
.edit-group-dialog {
  .form-content {
    padding: 0;

    .input.required {
      &:first-child {
        padding: 1.6rem 1.6rem 0 1.6rem;
      }
      padding: 0 1.6rem;
    }

    .permission-edit {
      max-height: 26.25rem;
    }

    .permission-add {
      padding: 1.6rem;
    }

    .input.text.autocomplete input  {
      margin-bottom: 0;
    }
  }
}
