.accordion {
    .accordion-header {
        .clearfix();

        a {
            color:@font-default;
            display:block;
        }
        a:hover {
            color:@font-focus;
        }
    }

    h3.accordion-header {
      a {
        line-height: 3.2rem;
        border-bottom: 1px dotted @border-default;
        .svg-icon {
          margin-right:.4rem;
        }
      }
    }

    .accordion-content {
        .clearfix();

        .processing-wrapper {
            background-color: @background-default;
            padding: 0.5em 1.5em;

            .processing-text {
                position: relative;
                padding-left: 1.5em;
            }
            .processing-text:before {
                width: 100%;
                height: 100%;
                position: absolute;
                content: " ";
                top: 0;
                left: 0;
                background: transparent @loading left center no-repeat;
                background-size: auto 75% ;
            }
        }
    }
    &.closed {
        .accordion-content {
            display: none;
        }
    }
}
.dialog .accordion {
    .accordion-header {
        margin-bottom: 1.2rem;
        a {
            display: flex;
            align-items: center;
            border-bottom: 0;

            .svg-icon {
                margin-left:.5rem;
            }
        }
    }
}
.accordion.sidebar-section {
    .accordion-header {
        a {
            border:0;

            .svg-icon {
              position:absolute;
              right:1.5em;
              margin-top: .25em;
              &.exclamation {
                position: relative;
                right: inherit;
                margin-left: .8rem;
                color: @orange-light;
              }
            }
        }
    }
}

.accordion.navigation-secondary {
    .accordion-content > .empty-content {
      padding: 0 0 0 2.5em;
    }
}

.dialog-wrapper .error-details .accordion-content textarea{
    font-size: 1.6rem;
    height: 12rem;
}