.panel.aside .activity {
  div.actions {
    margin-top: 1.6rem;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .accordion-content {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }

  .usercard-detailed-col-2 {
    border: none;
  }
}