.panel.aside .activity {
  &.sidebar-section {
    border-bottom: none;
  }

  div.actions {
    margin-top: 1.6rem;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .accordion-content, .accordion-content > ul {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }

  .accordion-content ul .content > .name {
    min-height: 4rem;
    align-content: center;
  }

  .usercard-detailed-col-2 {
    border: none;
    padding: 0;
  }
}