/* actions */
.header.third .main-action-wrapper {
    margin: .4rem 0 0 1.6rem;
    .dropdown {
      margin-right: 0;
    }
    .button {
        float: left;
        margin-right: .8rem;
    }

}

.header.third .actions-wrapper {
    margin: .4rem 1.6rem 0 0;
    .button {
        float: left;
        margin-right: 1rem;
    }
    li {
        display: inline;
    }
    .secondary {
        float: right;

        .button {
          min-width: inherit;
          &:last-child {
            margin-right: 0;
          }
        }
    }
}

/* hide secondary actions if there is no space */
@media all and (max-width: 1024px) {
    .header.third .actions-wrapper {
        .dropdown,
        .actions.secondary {
            display: none;
        }
    }
}

/* hide icons if there is no space */
@media all and (max-width: 1024px) {
    .header.third .main-action-wrapper,
    .header.third .actions-wrapper {
        i {
            display: none;
        }
        i + span {
            margin-left: 0;
        }
        .disabled {
            display: none;
        }
    }
}

/* hide text and only show icon if there is even less space */
@media all and (max-width: 540px) {
    .header.third .main-action-wrapper,
    .header.third .actions-wrapper {
        a i {
            display: block;
        }
        a.button {
            min-width: 1em;
            font-size: 1em;
        }
        a i + span {
            margin-left: 0;
            display: none;
        }
        .disabled {
            display: none;
        }
    }
}