/*
 * Breadcrumbs
 */
.breadcrumbs {
    display: inline-flex;    
    align-items: baseline; 
    align-self: stretch;

    ul {
        display: inline-flex;
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            &:before {
                content: "\203A"; /* unicode character › */
                padding: 0rem .4rem;
                font-size: 1.8rem;
                font-weight: 400;   
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: var(--Text-and-icons-Main-text);
                align-items: center;
                font-style: normal;
            }
            &:first-child {
                margin-left: 0;
                padding-left: 0;
            }
            &:first-child:before {
                content: "";
            }
        }
        button {
            border: 0;
            font-size: 1.8rem;
            line-height: normal;
            max-width: 100%;
            padding: .0rem .6rem;
            border-radius: var(--Button-border-radius);

            &:hover {
                background: var(--Action-button-Active-action-button-background);
            }

            /* focus visible (display with keyboard navigation) */
            &:focus-visible {
                box-shadow: 0 0 .4rem var(--States-Focus), inset 0 0 0 .1rem var(--States-Focus);
                text-decoration: none;
                border: none;
            }
        }
    }
    span.chips {
      margin-left: .8rem;
      vertical-align: .1rem;
      padding: .1rem .55rem .2rem .55rem;
      border-radius: 2rem;
    }
    div.main-cell {
        display: inline;
    }
}