/*
 * Breadcrumbs
 */
.breadcrumbs {
    display: flex;
    min-width: 0;
    padding: 1.2rem 1.6rem 0 1.6rem;
    align-items: flex-start;
    align-self: stretch;

    ul {
        display: flex;
        min-width: 0;
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 0 1 auto;
            min-width: 0;

            &:before {
                content: "\203A"; /* unicode character › */
                padding: 0rem .4rem;
                font-size: 1.8rem;
                font-weight: 400;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: var(--Text-and-icons-Main-text);
                align-items: center;
                font-style: normal;
            }
            &:first-child {
                margin-left: 0;
                padding-left: 0;
            }
            &:first-child:before {
                content: none;
            }
        }
        button {
            border: 0;
            font-size: 1.8rem;
            line-height: 2.5rem;
            padding: .0rem .6rem;
            border-radius: var(--Button-border-radius);

            &:hover {
                background: var(--Action-button-Active-action-button-background);
            }

            /* focus visible (display with keyboard navigation) */
            &:focus-visible {
                box-shadow: 0 0 .4rem var(--States-Focus), inset 0 0 0 .1rem var(--States-Focus);
                text-decoration: none;
                border: none;
            }
        }
    }
    span.counter {
        padding-left: 0.8rem;
        color: var(--Text-and-icons-Secondary-text);
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 2.1rem;
        align-self: flex-end;
        flex-shrink: 0;
        display:block
    }

    div.main-cell {
        display: inline;
    }
}