button.card {
    display: flex;
    height: 6.4rem;
    min-width: 17.6rem;
    max-width: 36.9rem;
    padding: .8rem 1.6rem;
    align-items: center;
    gap: 1.6rem;
    flex: 1 0 0;
    border-radius: var(--Button-border-radius);
    justify-content: flex-start;
    text-align: left;

    &:hover, &:active {
      background: var(--Workspace-Dividers-lighter);
    }

    svg {
      display: flex;
      width: 3.2rem;
      height: 3.2rem;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
    }

    .card-information {
      .title-wrapper {
        display: inline-flex;
        align-items: center;
        gap: .4rem;
        max-width: 100%;

  .title {
    font-size: 1.4rem;
    font-weight: 700;
    max-width: 100%;
    position: relative;
    .ellipsis();

    .chips {
      position: absolute;
      right: -4.7rem; // adjust if pill overlaps FrameSVG
      top: 0;
      margin-left: .4rem;
    }
  }

  svg {
    width: 1.6rem;
    height: 1.6rem;
    flex-shrink: 0;
  }

  &.with-pill .title {
    padding-right: 4.7rem; // prevent overlap with pill
  }
}
  .info {
        font-size: 1.2rem;
        line-height: normal;
        color: var(--Text-and-icons-Secondary-text);
        max-width: 100%;
        .ellipsis();

        // only works for chrome, makes the ellipsis after the second line
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        white-space: normal;
      }
    }
  }

.section-card {
  display: flex;
  padding: 1.6rem;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    border-radius: var(--Section-border-radius);
    background: var(--Context-buttons-Updgrade-resource-card-title);
    min-width: 0;

    .title {
      display: flex;
      padding: .8rem 1.2rem;
      justify-content: center;
      align-items: center;
      align-self: stretch;

      .text {
        font-size: 1.3rem;
        font-weight: 600;
        line-height: normal;
        flex: 1 0 0;
        text-align: left;
      }

      svg &:first-child {
        width: 1.8rem;
        height: 1.8rem;
      }
    }

    .content {
      display: flex;
      padding: .8rem;
      flex-direction: column;
      align-items: center;
      gap: .8rem;
      align-self: stretch;
      border-top: .1rem solid var(--Action-button-Active-action-button-border);
      background: var(--Context-buttons-Updgrade-resource-card-background);
      border-radius: 0 0 var(--Section-border-radius) var(--Section-border-radius);
      box-sizing: border-box;

      p {
        font-size: 1.3rem;
        font-weight: 400;
        line-height: normal;
      }

      .actions-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.6rem;
        align-self: stretch;
        min-width: 0;

        button, a {
          font-size: 1.3rem;
          font-weight: 600;
          line-height: normal;

          &.link {
            font-weight: 400;
          }
        }
      }
    }
  }
}
