button.card {
    display: flex;
    height: 6.4rem;
    min-width: 17.6rem;
    max-width: 36.9rem;
    padding: .8rem 1.6rem;
    align-items: center;
    gap: 1.6rem;
    flex: 1 0 0;
    border-radius: var(--Button-border-radius);

    svg {
      display: flex;
      width: 3.2rem;
      height: 3.2rem;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
    }

    .card-information {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: .2rem;
      flex: 1 0 0;

      .title {
        font-size: 1.4rem;
        font-weight: 700;
        .ellipsis();
      }

      .info {
        font-size: 1.2rem;
        line-height: normal;
        color: var(--Text-and-icons-Secondary-text);
        .ellipsis();
      }
    }
  }