.chips {
  color: var(--Text-and-icons-Main-text-reversed);
  padding: 0 .8rem;
  margin-top: .2rem;
  border-radius: var(--Button-border-radius);
  font-weight: 400;
  font-size: 1.1rem;
  line-height: normal;
  background-color: var(--Action-button-Menu-action-button-background);

  &.beta {
    background: var(--Palette-Contrast-2);
  }

  &.new {
    background-color: var(--Palette-Contrast-4);
  }
}