.chips {
  color: @chips-text-color;
  padding: 0 .8rem;
  margin-top: .2rem;
  border-radius: 0.7rem;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.4rem;
  background-color: @chips-background;

  &.beta {
    background-color: @chips-beta-background;
  }

  &.new {
    background-color: @chips-new-background;
  }
}