/*
 * Comment thread with add/edit form
 */
.panel.aside .detailed-comments {
    .right-column {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: .4rem;
      flex: 1 0 0;
      min-width: 0;
    }
    .left-column {
        .avatar svg, .avatar img {
          width: 4rem;
          height: 4rem;
        }
    }

    .comment {
        display: flex;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
        padding-bottom: 1.6rem;

        &form {
          padding-bottom: 0;
        }

        button {
          color: var(--Text-and-icons-Main-text);
          &.primary {
            color: var(--Primary-button-Primary-button-text);
          }
        }

        p {
            background: var(--Tags-Tag-background);
            padding: 1rem 1.6rem;
            margin-left: .8rem;
            border-radius: var(--Section-border-radius);
            overflow-wrap: anywhere;
            align-self: stretch;
            position: relative;
        }

        /* picture */
        .author.picture {
        }

        /* username and date */
        .metadata {
            font-style: italic;
            display: flex;
            padding-left: .8rem;
            align-items: flex-start;
            gap: .6rem;
            align-self: stretch;

            .author.username {
                max-width: 48%;
                .ellipsis();
            }
            .author.username:after {
                content: ', ';
            }
            .modified {
                flex: 1 0 0;
                color: var(--Text-and-icons-Secondary-text);
                .ellipsis();
            }
        }

        /* actions */
        .form-content {
          align-self: stretch;
            .metadata {
              margin: -1.2rem 0 0 0;
            }

            .actions {
              margin-top: .4rem;
            }
        }

        /* triangle bubble */
        p:before {
            content: ' ';
            position: absolute;
            width: 1px;
            height: 1px;
            border-top: 1rem solid transparent;
            border-bottom: 1rem solid transparent;
            border-right: 1rem solid var(--Tags-Tag-background);;
            margin-left: -2.6rem;
        }

        &.from-suspended-user {
            opacity: 0.5;
        }
    }
}