/* dropdown button */
.dropdown {
    float: left;
    position: relative;
    margin-right: .8rem;

    button, .button {
        &.open {
            z-index: 4;
            background: @dropdown-background;
            border-radius: .4rem .4rem 0 0;
            box-shadow: inset .1rem 0 0 0 @default-border, inset -.1rem 0 0 0 @default-border, inset 0 .1rem 0 0 @default-border;
            color: @default-text-color;
            padding-bottom: 1.4rem;

            svg {
                --icon-color: @icon-color;
                --icon-background-color: @icon-background-color;
            }

            &.button-action-icon {
              height: 4.2rem; // Add .6rem to 3.6rem due to the padding bottom (1.4rem -.8rem)
            }

            & + .dropdown-content {
                top: calc(100% - .1rem);
            }
        }

        &.more {
            .svg-icon svg {
                margin-left: 1.6rem;
            }
        }

        &.button-action-icon {
          width: inherit;
        }

        .svg-icon + .svg-icon {
            margin-left: .8rem;
            display: inline-flex;
        }
    }

    /* dropdown content */
    .dropdown-content {
        float: left;
        position: absolute;
        z-index: 3;
        display: none;
        border: 1px solid @default-border;
        box-sizing: border-box;
        background: @dropdown-background;
        padding: .4rem 0 .8rem 0;
        filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, @shadow-opacity-dropdown));
        border-radius: .4rem;
        font-size: 1.5rem;
        line-height: 2rem;
        width: max-content;
        min-width: calc(100% + .8rem);

        &.visible {
            display: block;
        }

        &.left {
            right: 0;
            border-radius: .4rem 0 .4rem .4rem;
        }

        &.right {
            left: 0;
            border-radius: 0 .4rem .4rem .4rem;
        }


        // Separator of contextual menu item
        .separator-after {
            border-bottom: 1px solid @default-border;
            margin-bottom: .4rem;
            button {
                margin-bottom: .4rem;
            }
        }

        li {
            // Dropdown menu item
            button.link {
                display: flex;
                align-items: center;
                border: 0;
                padding: .8rem 1.6rem;
                float: inherit;
                margin-right: inherit;
                width: 100%;
                box-shadow: none;

                // Dropdown menu item hover
                &:hover {
                    color: @dropdown-item-hover-text-color;
                    background: @dropdown-item-hover-background;
                }

                // Dropdown menu item focus
                &:focus {
                    color: @dropdown-item-focus-text-color;
                    background: @dropdown-item-focus-background;
                    box-shadow: 0 0 .4rem @shadow-focus-color;
                    outline: @outline-default-border;
                }

                // Dropdown menu item pressed
                &:active {
                    color: @dropdown-item-active-text-color;
                    background: @dropdown-item-active-background;
                    box-shadow: inset -.1rem -.1rem 0 rgba(255, 255, 255, @shadow-opacity-active-white), inset .1rem .1rem 0 rgba(0, 0, 0, @shadow-opacity-active-black);
                }
            }

            .checkbox {
              padding: .8rem 1.6rem;
              margin: 0;

              // Dropdown menu item hover
              &:hover {
                color: @dropdown-item-hover-text-color;
                background: @dropdown-item-hover-background;
              }
            }
        }
    }
}