/* dropdown button */
.dropdown {
    float: left;
    position: relative;

    button, .button {
        &.open {
            z-index: 4;
            background: var(--Action-button-Action-button-background);
            border-radius: var(--Button-border-radius) var(--Button-border-radius) 0 0;
            box-shadow: inset .1rem 0 0 0 var(--Action-button-Action-button-border), inset -.1rem 0 0 0 var(--Action-button-Action-button-border), inset 0 .1rem 0 0 var(--Action-button-Action-button-border);
            color: var(--Text-and-icons-Main-text);

            svg {
                --icon-color: var(--Text-and-icons-Icons);
                --icon-background-color: var(--Workspace-Workspace-background);
            }

            &.button-action-contextual {
              box-shadow: inset .1rem 0 0 0 var(--Context-buttons-Context-button-border), inset -.1rem 0 0 0 var(--Context-buttons-Context-button-border), inset 0 .1rem 0 0 var(--Context-buttons-Context-button-border);
            }

            &.create.primary {
              background: var(--Primary-button-Primary-button-menu-background);
            }

            &.add-secret {
              background: var(--Primary-button-Primary-button-menu-background)
            }

            &.switcher {
              background: var(--Workspace-Workspace-button-background);
            }
        }
    }

    /* dropdown content */
    .dropdown-content {
        float: left;
        position: absolute;
        top: calc(100% - .1rem);
        z-index: 3;
        display: none;
        border: 1px solid var(--Action-button-Action-button-border);
        box-sizing: border-box;
        background: var(--Action-button-Action-button-background);
        padding: .8rem 0 .8rem 0;
        box-shadow: var(--Menu-drop-shadow-Menu-drop-shadow-X) var(--Menu-drop-shadow-Menu-drop-shadow-Y) var(--Menu-drop-shadow-Menu-drop-shadow-blur) 0 var(--Menu-drop-shadow-Menu-drop-shadow, rgba(0, 0, 0, 0.10));
        border-radius: var(--Menu-radius);
        font-size: 1.5rem;
        line-height: 2rem;
        width: max-content;
        min-width: calc(100% + 3.2rem);

        &.menu-action-contextual {
          border: 1px solid var(--Context-buttons-Context-button-border);
        }

        &.menu-create-primary {
          background: var(--Primary-button-Primary-button-menu-background);
        }

        &.menu-switcher {
          background: var(--Workspace-Workspace-button-background);
        }

        &.visible {
            display: block;
        }

        &.left {
            right: 0;
            border-radius: var(--Menu-radius) 0 var(--Menu-radius) var(--Menu-radius);
        }

        &.right {
            left: 0;
            border-radius: 0 var(--Menu-radius) var(--Menu-radius) var(--Menu-radius);
        }

        // Separator of dropdown menu item
        .separator-after {
            border-bottom: 1px solid var(--Workspace-Menu-Dividers);
        }

        // Dropdown menu item
        button.no-border {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            align-self: stretch;
            background: none;
            border: none;
            padding: .8rem 1.6rem;
            float: inherit;
            margin-right: inherit;
            width: 100%;
            border-radius: 0;
            box-shadow: none;

            // Dropdown menu item hover and focus
            &:hover, &:focus, &:focus-visible, &.active {
                background: var(--Sections-Filter-selected);
            }

            &.active {
              cursor: default;
            }

            // Dropdown menu item pressed
            &:active {
              box-shadow: inset 0 -0.1rem 0 0 var(--States-Active-Highlight), inset 0 .1rem 0 0 var(--States-Active-Shadow);
            }
        }

        .checkbox {
          padding: .8rem 1.6rem;
          margin: 0;

          // Dropdown menu item hover
          &:hover {
            background: var(--Sections-Filter-selected);
          }
        }

        .radio {
          padding: .8rem 1.6rem;
          margin: 0;

          // Dropdown menu item hover
          &:hover {
            background: var(--Sections-Filter-selected);
          }
        }

        .action-button {
          padding: .4rem 1.6rem 0 1.6rem;
          margin: .4rem 0 0;

          button {
            background: var(--Primary-button-Primary-button-menu-background)
          }
        }
    }
}