/*
 * Footer
 */
.footer {
	padding:1.167em 1.5% 0 .5%; // 14px
	text-align:right;
	font-size:.75em; /* 12px */
	margin-top:0em;
	width:98%;
	height:2em;
	background:#FFF;
	border-top:1px solid @border-default;
	bottom:0;
	position:fixed;
	z-index:890;

	.footer-links {
		width:100%;
		margin-top:-0.250em; // -3px
		li {
			display:inline;
			margin-right:1.5em;
		}
	}
}
