.get-started-desktop {
    .step {
        width: 2.4rem;
        height: 2.4rem;
        display: inline-flex;
        box-sizing: border-box;
        border: 2px solid var(--Text-and-icons-Main-text);;
        border-radius: 100rem;
        line-height: 2rem;
        font-size: 1.4rem;
        flex-direction: column;
        align-items: center;
        color: var(--Text-and-icons-Main-text);;
        margin-right: 1.6rem;
    }
}

.import-account-kit {
    .big.avatar {
        text-align: center;
        justify-content: center;
        margin-bottom: 1.6rem;
    }
}


.import-account-kit-details {

    .user {
        width: 100%;
        margin: auto;

        &>* {
            text-align: center;
            justify-content: center;
            margin-bottom: 1.6rem;
        }

        .user-name {
            font-weight: bold;
            font-size: 1.6rem;
            line-height: 2rem;
            margin-top: 1.6rem;
            margin-bottom: 0rem;
        }

        .user-email {
            color: var(--Text-and-icons-Main-text);
            font-size: 1.4rem;
            opacity: 0.5;
        }
        .user-domain {
            font-size: 1.5rem;
            line-height: 1.9rem;
        }
    }
}