.get-started-desktop {
    .step {
        width: 24px;
        height: 24px;
        display: inline-flex;
        box-sizing: border-box;
        border: 2px solid #000000;
        border-radius: 1000px;
        line-height: 20px;
        font-size: 15px;
        flex-direction: column;
        align-items: center;
        color: @black;
        margin-right: 15px;
    }
}

.import-account-kit {
    .big.avatar {
        text-align: center;
        justify-content: center;
        margin-bottom: 1.6rem;
    }
}


.import-account-kit-details {

    .user {
        width: 100%;
        margin: auto;

        &>* {
            text-align: center;
            justify-content: center;
            margin-bottom: 1.6rem;
        }

        .user-name {
            font-weight: bold;
            font-size: 1.6rem;
            line-height: 2rem;
            margin-top: 1.6rem;
            margin-bottom: 1rem;
        }

        .user-email {
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }
        .user-domain {
            font-size: 1.5rem;
            line-height: 1.9rem;
        }
    }
}