/*
 * Locale
 */
#user-locale-input {
  border: none;
  background-color: transparent;
  background-image: @controls-chevron-down;
  appearance: none;
  padding-left: .4rem;
  padding-right: 2rem;
  line-height: 2rem;
  width: auto;

  &:focus {
    outline: none;
    border:1px solid @border-focus;
    border-radius: 0;
    background-image: @controls-chevron-down-focus;
  }
}
