
// logo should always fit
.header.second .col1 {
    min-width:200px;
}

.logo-svg {
    &.no-img {
        width: 150px;
        height: 26px;
        --icon-color: @icon-logo-color;
    }
    h1 {
        display: none;
    }

    &.bigger {
        width: 200px;
        height: 45px;
    }
}

// logo should always fit
.header.second .col1 {
    min-width:200px;
}
