.profile {
  .table-info {
    margin: 0;
  }

  &.sidebar-help-section {
    .avatar {
      align-self: center;
      img, svg {
        width: 15rem;
        height: 15rem;
        margin-bottom: 1.6rem;
      }
    }

    .upload-avatar {
      display: flex;
      justify-content: center;
    }
  }
}