body.report-html {
  background-color: @grey-lightest;
  padding: 3em 2em;
}

/**
Widget styles.
 */
.report-widget {
  // Define the colors that will be used by the graphs inside the widgets.
  .colors {
    &.red { color: @red; }
    &.green { color: @green; }
  }

  // define widget content
  &.gauge {
    div.widget-content {

    }
    p.widget-description {
      color: @grey-dark;
      text-align: center;
      margin-top: -20px;
    }
  }
}

/**
Report layout definition.
 */
div.report-html {
  margin: auto;
  width: 900px;
  min-height: 1536px;
  background-color: white;
  padding: 3em;
  box-sizing:border-box;
  .box-shadow();

  .report-header {
    .creator-info {
      span.label {
        display: inline-block;
        width: 150px;
        margin-bottom: 0.25em;
      }
      span.value {
        display: inline-block;
        margin-bottom: 0.25em;
      }
    }
    .company-info{
      text-align: right;
      .logo {
        margin-top: 65px;
        width: 200px;
        float: right;
      }
    }
  }

  .report-content {
    margin-top: 2em;

    .row.charts {
      margin-top: 2em;
    }

    .row.list {
      margin-top: 3em;
    }

    table.table-info {
      border-right: 0;
      border-left: 0;
      border-bottom: 0;

      tr {
        th:first-of-type,
        td:first-of-type {
          width: 30%;
        }

        td {
          word-wrap:break-word;
          color: @grey-darkest;
          vertical-align: middle;

          & + td  {
            color: @grey-darkest;
          }
        }

        span.name, span.email{
          display:block;
          max-width: 300px;
        }

        span.email {
          font-size: 0.8em;
          color: @grey-dark;
        }
      }
    }
  }
}

/**
Print rules.
 */
@media print {
  // This takes care of removing the meta information put automatically by the browser on printed page.
  @page { size: auto;  margin: 0mm; }

  body.report-html {
    background-color: white;
    div.report-html {
      min-height: 0 !important;
      box-shadow: none !important;
    }
  }
}


.workspace-reports-content {
  position: relative;
  height: 100%;

  .tab-content {
    top: 0;
    bottom: 2.45em;
    padding: 0;
    position: absolute;
    width: 100%;
    overflow-y: hidden;
    background: #FFF;
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}