/* search */
form.search {
    margin-top: 2.8rem;
    max-width: 64rem;

    legend, label {
        display: none;
        width: 16rem;
    }
}

/* remove webkit search input decoration and cancel button */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

/* rescale on small screen */
@media all and (max-width: 480px) {
    form.search {
        display:none;
    }
}