/**
 * Sidebar
 */
.panel.aside {
  position:absolute;
  right:2em;
  width:22em;
  bottom:0;
  height:100%;
  background:@background-default;
  .box-shadow();

  /* three types of sidebar */
  .resource,
  .group,
  .user {
    padding:.5em 1em 1em 1em;

    h3 {
      margin-top:.5em;
      border:0;
    }
    h4 {
      margin-bottom:1em;
      padding-bottom:.313em;
      border-bottom:1px dotted @border-default;
    }

    li,
    .message,
    .comment p,
    .comment .metadata {
      font-size:.875em;
    }
    li {
      .clearfix();

      .label {
        width:30%;
        display:inline-block;
        margin-right:10%;
        float: left;
        height: 1.8em;
      }
      .value {
        width:60%;
        display:inline-block;
        float: left;
        height: 1.8em;
      }
      span {
        .ellipsis();
      }
    }

    .description {
      .description_content {
        font-size:.875em;
      }

      textarea {
        box-sizing: border-box;
        width:100%;
      }
    }
    .dialog-close {
      position:absolute;
      right:.5em;
      top:.5em;
    }
    .button  {
      float:right;
    }

    .section-action {
      float:right;
      margin-top:-2.75em;
      border:0;
    }

    .key-information textarea {
      min-height:30em;
      font-size:.625em;
      line-height:normal;
    }
  }
  .sharedwith {
      .user, .group {
        width: 75%;
        padding-top: 0;
      }
  }
}

/* place sidebar on top of everything when there is no space */
@media all and (max-width: 1024px) {
  .panel.aside {
    position: absolute;
    right: 0em;
    width: 100%;
    bottom: 0;
    top:0;
    height: 100%;
  }
}
@media all and (min-width: 1280px) {
  .panel.aside {
    width: 25em;
  }
}
