.sidebar-help {
  padding: 1.6rem;

  & > div {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  & + .sidebar-help {
    margin-top: 1.6rem;
  }

  h3 {
    margin: 0;
    font-size: 1.8rem;
  }

  .button {
    align-self: flex-start;
  }
}