.sidebar-help {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex: 1 0 0;
  gap: 1.6rem;
  overflow-y: scroll;

  h3 {
    margin: 0;
    font-size: 1.8rem;
  }

  .button {
    align-self: flex-start;
  }

  .sidebar-help-section {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 1.6rem;

    + .sidebar-help-section {
      box-shadow: inset 0 .1rem .1rem var(--Workspace-Dividers);
    }

    &.warning {
      border-radius: var(--Section-border-radius) var(--Section-border-radius) 0 0;

      & + .sidebar-help-section {
        box-shadow: none;
      }
    }
  }
}