/*
 * Main Workspace - Table View
 */
.tableview {
  display: flex;
  background: var(--Grid-Grid-background);
  position: relative;
  font-size: 1.5rem; /* 15px */
  height: 100%; // force height to use 100% for flex child
  width: 100%; // force width to use 100% for flex child
  overflow: auto;
  min-width: 0; // important to keep the container size for ellipsis
  scrollbar-width: thin;
  scrollbar-color: var(--Workspace-Elevator) transparent;

  /* header */
  .tableview-header {
    height: 3rem;
    width: 100%;
    min-width: max-content;
    position: sticky;
    top: 0;
    background: var(--Grid-Grid-background);
    border-top: .1rem solid var(--Workspace-Dividers);
    border-bottom: .1rem solid var(--Workspace-Dividers);
    z-index: 1;

    table {
      width: 100%;
      height: 100%;
      table-layout: fixed;

      button {
        width: 100%;
      }
    }
  }

  /* main content */
  .tableview-content {
    top: 3.2rem;
    bottom: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    min-width: max-content;

    table {
      width: 100%;
      table-layout: fixed;

      button {
        max-width: 100%;
        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  /* rows */
  table {
    button:hover, button:focus-visible {
      color: var(--States-Focus);
    }

    th, td {
      text-align: left;
      padding: .3rem .4rem .5rem .4rem;
      vertical-align: middle;
      position: relative;

      &:first-child {
        padding-left: .8rem;
      }
    }

    th {
      font-weight: 700;

      &.draggable {
        cursor: move;
      }

      .resizer {
        /* Displayed at the right side of column */
        position: absolute;
        top: .4rem;
        right: 0;
        width: 5px;
        cursor: col-resize;
        user-select: none;
        height: 2.4rem;
        margin-right: .4rem;
        border-right: 1px solid var(--Workspace-Dividers);

        &:hover, &.resizing {
          border-right: 2px solid var(--States-Focus);
        }
      }
    }

    td div {
      display: flex;
      gap: .8rem;
      font-weight: 400;
      align-items: center;

      svg {
        width: 1.6rem;
        height: 1.6rem;
      }

      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      button {
        font-weight: 400;
      }

      svg {
        flex-shrink: 0;

        &.attention-required {
          --icon-exclamation-color: var(--Alert-Alert-icon);
          --icon-exclamation-background-color: var(--Alert-Alert-background);
          --icon-exclamation-border-color: var(--Alert-Alert-background);
        }
      }
    }

    .s-cell {
      width: 2rem;
      max-width: 2rem;
      min-width: 2rem;
    }

    .m-cell {
      width: 14.5rem;
    }

    .l-cell {
      width: 21rem;
    }

    .xl-cell {
      width: 28.5rem;
    }

    .cell-header {
      display: flex;
      flex: 1 0 0;
      justify-content: space-between;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: .8rem;
    }

    .cell-header-text {
      flex: 0 1 auto;
      font-weight: 700;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .cell-header-icon-sort {
      display: flex;
      align-items: center;

      svg {
        margin: 0 .4rem;
        width: inherit;
        height: inherit;
      }
    }

    thead {
      tr.dragging {
        th > * {
          pointer-events: none;
          user-select: none;
        }
      }
    }

    tbody tr {
      height: 3.2rem;

      &:before {
        content: "";
        display: flex;
        position: absolute;
        background: linear-gradient(var(--Grid-Grid-background),var(--Grid-Grid-background) 3.1rem, var(--Workspace-Dividers), var(--Workspace-Dividers) 3.2rem);
        width: 100%;
        min-width: max-content;
        height: 3.2rem;
      }

      &.selected {
        &:before {
          background: linear-gradient(var(--Grid-Grid-selected-row),var(--Grid-Grid-selected-row) 3.1rem, var(--Workspace-Dividers), var(--Workspace-Dividers) 3.2rem);
        }
      }

      &.suspended td, &.inactive td {
        opacity: 0.5;

        &.cell-checkbox {
          opacity: 1;
        }
      }

      &:hover {
        &:before {
          background: linear-gradient(var(--Grid-Grid-hover-row),var(--Grid-Grid-hover-row) 3.1rem, var(--Workspace-Dividers), var(--Workspace-Dividers) 3.2rem);
        }
      }
    }

    /* multi select and fav fix */
    th.cell-checkbox,
    td.cell-checkbox {
      .cell-header {
        margin: 0;
        overflow: inherit;
        justify-content: center;
      }
      .input.checkbox {
        margin: 0; // some space for focus state
        justify-content: center;
      }
    }

    /* multi select and fav fix */
    th.cell-favorite,
    td.cell-favorite {
      button {
        display: flex;
        align-items: center;
        .cell-header {
          margin: 0;
          overflow: inherit;
          > svg {
            --icon-color: none;
            --icon-background-color: var(--Favourite-Favourite-off);
          }
          .cell-header-icon-sort {
            svg {
              margin: 0;
            }
          }
        }
      }
    }

    td.cell-name .teaser-image {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      background: var(--Resource-icon-Resource-icons-backgound);
      text-align: center;
      border-radius: 50%;
      width: 2.4rem;
      height: 2.4rem;
      margin-right: .2rem;
      svg {
        --icon-stroke-width: .1rem;
        --icon-color: var(--Resource-icon-Resource-icon-color);
      }
    }

    td.cell-password, td.cell-totp {
      .secret {
        float: left;
        max-width: 100%;

        button{
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .password-view, .totp-view {
        display: none;
        align-items: center;
        margin: 0 0 0 .6rem;
        float: left;
      }
      &:hover {
        .secret:has(+ .password-view, + .totp-view) {
          max-width: calc(100% - 2.6rem); // secret field - secret preview button
        }
        .secret button:disabled {
          color: var(--Text-and-icons-Main-text);
        }
        .password-view, .totp-view {
          display: flex;
        }
      }
    }

    td.cell-location {
      span.caret {
        flex-shrink: 0;
      }
    }
  }
}
