/* tags */
.tags {
    .tag {
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
        white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
        word-break: break-all;
        white-space: normal;
        padding: .125em .5em;
        float: left;
        position: relative;
        margin: 0 .5em .5em 0;
        text-decoration: none;
        border-radius: 3px;
        border: 1px solid @tag-border;
        background: @tag-background;
        color: @tag-color;

        &:active,
        &:hover {
            border: 1px solid @tag-hover-border;
            background: @tag-hover-background;
            color: @tag-hover-color;
        }
    }
}
.tags-list {
    .clearfix();
}
.tag-editor {
    margin-bottom:1em;

    .message {
        font-size:1em;
        margin-top:.5em;
    }
    .tag {
        padding-right: 0;
    }
    .tag-content {
        padding-right: .5em;
    }
    .tag-delete {
        border-left: 1px dotted @blue;
        margin-left: -.25em;
        padding-left: .5em;
        padding-right: .5em;
        font-size: .75em;
        vertical-align: 10%;
        cursor: pointer;
    }
    .tag:hover:after {
        border-color: @border-input-light;
    }
    .tag-editor-input-wrapper {
        .clearfix();
        min-height:5em;
        padding: .5em;
        border: 1px solid @border-input;
        border-top: 1px solid @border-input-light;

        &.input-focus {
           border-color: @border-focus;
        }
    }

    .tag-editor-input {
        min-height:1.5em;
        padding: .25em .5em .25em .5em;
        box-shadow: none;
        min-width: 6em;
        max-width: 24em;
        float: left;
        overflow: hidden;
    }
}

.tag-dnd-helper, .tag-dnd-helper-with-shadow {
    position: relative;
    width: 100px;
    height: 0.60em;
    background: @blue;
    text-align: center;
    z-index: 9999999;
    padding: 0.65em;
    line-height: 0.75em;
    color: @white;
    border-radius: 5px;
}
.tag-dnd-helper-with-shadow {
  box-shadow: 6px 6px 0 -1px @blue;
}
.tag-dnd-helper-with-shadow:after {
    content: "2";
    position: absolute;
    top: -9px;
    right: -3px;
    font-size: .7em;
    background: @red;
    color: @white;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 1px @black;
}
.tag-dnd-helper-with-shadow span, .tag-dnd-helper span {
    display: inline-block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.tag-drop-focus-in {
    background-color: @grey;
}