/*
 * Profile user card
 */
.user.profile {
  float: right;
  margin-top: .6rem;
  padding: .8rem 1.6rem;
  background: @background-lighter;
  cursor: pointer;
  box-shadow: inset 0 0 0 0.1rem @border-default;
  border-radius: 3px;

  .more {
    line-height: 0;
    background: @button-background;
  }

  .center-cell {
    width: 15rem;
  }

  .more a {
    border: 0;
    color: @font-dim;

    &:hover {
      color: @blacker;

      svg {
        fill: @fill-hover-color;
      }
    }
  }

  .dropdown-content {
    top: 6.3rem;
    max-width: 24.8rem;
    width: 100%;
    background: @dropdown-background;

    &.visible {
      display: block;
    }

    .svg-icon.exclamation {
      --icon-exclamation-background-color: @icon-exclamation-required-color;
      margin-left: 0.8rem;
    }
  }
}

/* hide left column when there is no space */
@media all and (max-width: 1024px) {
  .user.profile {
    display: block;
    width: auto;
    padding: .8rem;

    .center-cell {
      display: none;
    }

    .right-cell {
      display: none;
    }
  }
}