.progress-bar-wrapper {
    .progress-bar.big.infinite {
        width: 0;
    }
}

.progress-dialog .progress-details {
    display: flex;
    flex-direction: row;

    .progress-step-label {
      flex: 1 1 auto;
      .ellipsis();
    }
    .progress-percent {
      margin-left: 0.5rem;
    }
}
