.passphrase-entry.dialog {
  .remember-me {
    display: flex;

    .input.select {
      display: inline-block;
    }
    input[type="checkbox"] + label {
      margin-left:.8rem;
      margin-bottom: 0;
    }
    .input.select select {
      margin-left:.8rem;
      padding: .2rem 2.2rem .2rem .6rem;
    }
  }
}
