.svg-icon {
    font-size:16px;
    line-height: 16px;
    text-rendering: auto;

    svg {
        width: 0.875rem;
        height: 0.875rem;
        display: inline-block;
        margin: auto;
        fill: @fill-color;
    }
    &.light svg {
        fill: @fill-light-color;
    }
    &.icon-only svg {
        width: 1.1rem;
        height: 1.1rem;
    }
}

.svg-icon + span:not(.visuallyhidden) {
    margin-left: 2px;
    display: inline-block;
}

@import "icons-svg-links.less";
@import "icons-svg-buttons.less";
