.svg-icon {
    font: normal normal normal 16px/1 sans-serif;
    font-size: inherit;
    text-rendering: auto;

    svg {
        width: 0.875rem;
        height: 0.875rem;
        display: inline-block;
        vertical-align: text-top;
        margin: auto;
        fill: @fill-color;
    }
    &.light svg {
        fill: @fill-light-color;
    }
    &.icon-only svg {
        width: 1.1rem;
        height: 1.1rem;
        display: block;
        vertical-align: text-top;
        margin: auto;
    }
}

.svg-icon + span:not(.visuallyhidden) {
    margin-left: 2px;
    display: inline-block;
}

@import "icons-svg-links.less";
@import "icons-svg-buttons.less";
