.quickaccess {
    .item-browse {
        .properties {
            .property {
                .clearfix();
                display: flex;
                align-items: center;
                padding: 1.6rem;

                &:last-child {
                  box-shadow: none;
                }
                a {
                  border: 0;
                }

                button:hover {
                  color: var(--Palette-Contrast-1);
                }
            }
            .information {
              flex: 1;
              display: flex;
              flex-direction: column;

              .password-wrapper, .totp-wrapper {
                display: flex;
                align-items: center;

                .password-view, .totp-view {
                  margin: 0 0 0 .8rem;
                }

                .totp-code + .svg-icon.timer {
                  margin-left: .5rem;
                }
              }
            }
            .property-value {
                max-width: 30rem;
                .ellipsis();
                &.empty {
                  font-style: italic;
                  color: var(--Text-and-icons-Secondary-text);
                }
            }
            .property-name {
                font-size: 1.3rem;
                line-height: 1.8rem;
                color: var(--Text-and-icons-Secondary-text);
                margin-bottom: .4rem;
            }
            .secret {
                display: inline-block;
                max-width: 28rem;
                &.secret-copy {
                  > button {

                    &:hover {
                      color: var(--Palette-Contrast-1);
                    }

                    > span {
                      display: none;
                    }

                    &:before, &:after {
                      font-family: 'Obfuscation', sans-serif;
                      font-style: normal;
                      font-weight: 400;
                      font-size: 1.8rem;
                      line-height: 100%;
                    }
                  }

                  &.secret-password {
                    > button:before {
                      content: '00000000';
                    }
                  }

                  &.secret-totp {
                    > button {
                      &:before {
                        content: '000';
                      }
                      &:after {
                        margin-left: .5rem;
                        content: '000';
                      }
                    }
                  }
                }
            }
        }
    }
}