.quickaccess {
    .quickaccess-header {
        .clearfix();
        background: var(--Quick-Access-Header-and-footer-background);
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 0;

        .logo-svg {
            display: flex;
            padding: 1.2rem 1.6rem ;
            flex: 1 1 auto;
            align-items: center;
        }

        .option-link {
            margin-right: 1.6rem;
        }
    }
}