.login-form, .quickaccess-server-unavailable {
    .form-container {
        margin: 1.6rem;
    }

    .submit-wrapper {
        .show-sso-form-button {
            align-self: center;
            margin-top: 1.6rem;
        }
    }

    .sso-login-form.form-actions {
        gap: 2.4rem;
        margin: 3.2rem 0;
        padding: 0 1.6rem;
    }
}

.quickaccess-server-unavailable {
    p.server-unavailable-message {
        display: flex;
        gap: 16px;
        align-self: stretch;

    }
    .submit-wrapper {
        background: var(--Quick-Access-Panel-background);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;

        .sign-out-locally-link {
            cursor: pointer;
        }
    }
}

.quickaccess-offline-login {
    .input.select {
        label {
            margin-bottom: 1.2rem;
        }
        select {
            width: 100%;
        }
    }
}

.quickaccess-offline-footer {
    display: flex;
    padding: 1.6rem;
    background: var(--Quick-Access-Header-and-footer-background);
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    .server-status-label {
        font-family: "Open Sans";
        font-size: 1.6rem;
        font-style: normal;
        line-height: normal;

        .offline-prefix {
            color: var(--Text-and-icons-Main-text, #FFF);
            font-weight: 700;
        }

        .server-status {
            color: var(--Text-and-icons-Secondary-text, #D4D4D4);
            font-weight: 400;
        }
    }

    .go-online-link,
    .last-sync-label {
        margin-left: auto;
    }

    .go-online-link {
        cursor: pointer;
    }

    .last-sync-label {
        opacity: 0.7;
    }
}
