.password-expiry-dialog {
  .radiolist-alt {
    .radio {
      padding: 0;
      margin-right: 0;

      label {
        display: flex;
        align-items: center;
        margin-left: 0;
        width: 100%;
        padding: 1.6rem;

        & > span {
          margin-left: 1.6rem;
          width: 100%
        }

        .date-wrapper {
            width: 100%;
            white-space: normal;

            .button-inline {
              width: 100%;
            }

            .svg-icon svg {
              height: auto;
              width: auto;
            }
        }
      }
      span {
        &.error-message {
          margin: 0.4rem 0 0;
          display: block;
        }

        &.info {
          display: flex;
          align-items: baseline;
          margin-top: 0.4rem;
          font-size: 1.5rem;

          input {
            margin-right: 0.8rem;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}