.password-expiry-dialog {
  .radiolist-alt {
    .radio label {

        .date-wrapper {
            width: 100%;
            white-space: normal;

            .button-inline {
              width: 100%;
            }

            .svg-icon svg {
              height: auto;
              width: auto;
            }
        }
      span {
        &.error-message {
          margin: 0.4rem 0 0;
          display: block;
        }

        &.info {
          display: flex;
          align-items: baseline;
          margin-top: 0.4rem;
          font-size: 1.5rem;

          input {
            margin-right: 0.8rem;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}