<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!--Viewport for Responsive layout-->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!--Bootstrap & ChargeBee compiled CSS -->
        <link href="http://themes.chargebee.com/static/app-static-assets/cdn-tpl_theme-1.0.5/stylesheets/core_v2.css" rel="stylesheet" media="screen" type="text/css">
        <!-- CSS based on the configured preset -->
        <!-- IMPORTANT: The below line should be present to apply the preset changes for this theme. -->
        <link href="{{theme_preset_css}}" rel="stylesheet" type="text/css">
    </head>
    <!-- The entire body is identified with chargebee-iframe to make it possible to override the styles in theme.css -->
    <body id="chargebee-iframe">
        <!--chargebee content start-->
        <div id="__CHARGEBEE_CONTENT__"></div>
        <!--chargebee content end-->
    </body>
</html>
