.quickaccess {
  .action-aborted-missing-metadata-keys {
    .form-container {
        margin: 1.6rem;

        p {
          margin-bottom: 1.6rem;
        }
    }

    button.button.primary {
      font-size: 1.8rem;
      line-height: 3.2rem;
      padding: 0.8rem 3.2rem;
    }
  }
}