.quickaccess {
    .item-browse {
        .properties {
            .property {
                .clearfix();
                display: flex;
                align-items: center;
                padding: 1.6rem;

                &:last-child {
                  box-shadow: none;
                }
                a {
                  border: 0;
                  &:hover {
                    color: var(--Palette-Contrast-1);
                  }
                }

                button:hover {
                  color: var(--Palette-Contrast-1);
                }
            }
            .information {
              flex: 1;
              display: flex;
              flex-direction: column;
              min-width: 0;

              .password-wrapper, .totp-wrapper {
                display: flex;
                align-items: center;

                .password-view, .totp-view {
                  margin: 0 0 0 .8rem;
                }

                .totp-code + .svg-icon.timer {
                  margin-left: .5rem;
                }
              }

              .accordion {
                .accordion-header {
                  svg {
                    --icon-color: var(--Text-and-icons-Secondary-text);
                    &.caret-down, &.caret-right {
                      width: inherit;
                      height: inherit;
                    }

                    &.caret-right {
                      margin-right: .2rem;
                    }
                  }
                }
              }
              .accordion-content {
                .list-uris {
                  display: block;
                  max-height: 6rem;
                  padding-top: .4rem;
                  overflow-y: auto;
                  scrollbar-width: thin;
                  scrollbar-color: var(--Workspace-Elevator) transparent;

                  .property-value {
                    font-size: 1.3rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    max-width: 100%;

                    &:last-child {
                      margin-bottom: 0;
                    }
                  }
                }
              }
            }
            .property-value {
                max-width: 30rem;
                .ellipsis();
                &.empty {
                  font-style: italic;
                  color: var(--Text-and-icons-Secondary-text);
                }
            }
            .property-name {
                font-size: 1.3rem;
                line-height: 1.8rem;
                color: var(--Text-and-icons-Secondary-text);
                margin-bottom: .4rem;
            }
            .secret {
                display: inline-block;
                max-width: 28rem;
                &.secret-copy {
                  > button {

                    &:hover {
                      color: var(--Palette-Contrast-1);
                    }

                    > span {
                      display: none;
                    }

                    &:before, &:after {
                      font-family: 'Obfuscation', sans-serif;
                      font-style: normal;
                      font-weight: 400;
                      font-size: 1.8rem;
                      line-height: 100%;
                    }
                  }

                  &.secret-password {
                    > button:before {
                      content: '00000000';
                    }
                  }

                  &.secret-totp {
                    > button {
                      &:before {
                        content: '000';
                      }
                      &:after {
                        margin-left: .5rem;
                        content: '000';
                      }
                    }
                  }
                }
            }
        }
    }
}