build:
  stage: build
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/node:18
  extends: .rules
  artifacts:
    when: always
    paths:
      - build/
  script:
    - |
      apt-get update
      apt-get install -y zip curl
      npm ci
      npx grunt
      npm run build
      if [[ "$CI_COMMIT_TAG" != "" ]]; then
        echo "Sending slack build notification"
        echo "================================"
        bash ./.gitlab-ci/scripts/bin/slack-status-messages.sh ":nail_care: A new wild styleguide appeared! $CI_COMMIT_TAG" "$CI_PROJECT_URL/-/jobs/$CI_JOB_ID/artifacts/browse/build/"
      fi