styleguide-tests:
  extends: .rules
  stage: test
  image: node:16
  coverage: /Lines\s* [:] ([\d\.]+)%/
  script:
    - npm ci
    - npm run test:coverage
  artifacts:
    when: always
    reports:
      junit:
        - junit.xml
      coverage_report:
        coverage_format: cobertura
        path: coverage/cobertura-coverage.xml

linter:
  stage: test
  image: node:16
  extends: .rules
  script:
    - npm install
    - npm run eslint

storybook:
  stage: test
  extends: .rules
  image: mcr.microsoft.com/playwright
  script:
    - npm install
    - npm run dev:storybook:install
    - npm run dev:storybook:build
    - |
      npx concurrently -k -s first -n "SB,TEST" -c "magenta,blue" \
        "npx http-server storybook-static --port 6006 --silent" \
        "npx wait-on tcp:6006 && npm run test:storybook"

audit:
  allow_failure: true
  extends: .rules
  stage: test
  image: node:16
  script:
    - npm audit
