body {
  background: transparent;
}

.web-integration {
  display: flex; // important to not have a div bigger in the iframe for firefox to not have scrolling over icon

  .in-form-icon-logo {
    background: transparent;
    margin:0;
    float:left;
    width: 18px;
    height: 18px;
  }

  a:after {
    content: none;
  }
}