.search-wrapper {
  width: 100%;
}

.input.search {
    position: relative;
    display: flex;
    align-items: center;

    // Pressed
    &:active {
      box-shadow: none;
    }

    input[type=search] {
        flex: 1;
        height: 3.6rem; // For firefox to avoid line height 21px
        padding: .3rem 4.6rem .3rem var(--Search-field-padding); // padding right = search button + .3rem + .3rem
        background: var(--Workspace-Main-search-field);
        max-width: none;
        margin: 0;

        ._field-borders();

        .disabled {
          ._field-border-disabled();
        }
    }

    // Search button wrapper
    .search-button-wrapper {
      position: absolute;
      right: .3rem;
      top: .3rem;
      
      .button, .search-icon {
        padding: .5rem var(--Infield-boxless-padding);
        border-radius: var(--Token-radius);

        svg:first-child {
          width: 2rem;
          height: 2rem;
        }
      }
    }
}

/* remove webkit search input decoration and cancel button */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}