#workspace-switcher {
    display: flex;
    position: relative;
    width: 5rem;
    height: 4rem;

    padding-right: var(--Workspace-selection-button-extra-gap);

    .dropdown button {
        min-width: 0;
        padding-left: var(--Workspace-selection-button-padding);
        padding-right: var(--Workspace-selection-button-padding);
    }

    svg {
        width: 1.8rem;
        height: 1.8rem;
    }
}