#workspace-switcher {
    display: flex;
    position: relative;

    padding-right: var(--Workspace-selection-button-extra-gap);

    .dropdown {
        button {
            padding-left: var(--Workspace-selection-button-padding);
            padding-right: var(--Workspace-selection-button-padding);
        }
    }

    svg {
        width: 1.8rem;
        height: 1.8rem;
    }
}