name: Release notes
on:
  push:
    tags:
      - "*"
jobs:
  create-shasums:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b
