.page.administration .app .panel.main .panel.middle {
  .breadcrumbs-and-grid {
    align-items: flex-start;
    background: none;

    .top-bar {
      padding-bottom: 1.2rem;
      background: var(--Workspace-Panels-background);
      border-radius: var(--Section-border-radius) var(--Section-border-radius) 0 0;
      border-bottom: 1px solid var(--Workspace-Dividers);
    }

    .main-column {
      background: var(--Workspace-Panels-background);
      border-radius: 0 0 var(--Section-border-radius) var(--Section-border-radius);

      &:last-child {
        border-radius: 0;
      }
    }
  }

  .main-page {
    width: 100%;
    height: 100%;

    h3 {
      font-size: 2rem;
      margin: 0;
      padding: 1.6rem 0;
    }

    h4 {
      font-size: 1.5rem;
      margin: 0;
    }

    .main-column {
      height: 100%;
      .main-content {
        padding: 0 1.6rem 3.6rem;
        max-height: calc(78vh - 5rem);
        overflow-x: auto;
        .title {
          margin: 0;
        }
        & > * {
          margin-bottom: 1.6rem;
      }

      form {
          margin: 0;
          & > * {
              margin-bottom: 1.6rem;
          }
      }

        & > * {
          margin-bottom: 1.6rem;
      }

      form {
          margin: 0;
          & > * {
              margin-bottom: 1.6rem;
          }
      }

        &.with-warning {
          max-height: calc(78vh - 10rem);
        }
      }
    }

    .warning.message {
      margin-top: auto;
      border-radius: 0 0 var(--Section-border-radius) var(--Section-border-radius);
    }

    .divider {
      margin: 0 -1.6rem;
      border-bottom: .1rem solid var(--Workspace-Dividers);
    }

    .row {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
  }

  .actions-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 1.6rem 0;

    .left-actions-wrapper {
      margin-right: auto;
    }

    .button.primary {
      padding: .8rem 2.4rem;
      font-size: 1.8rem;
    }
  }
}
