.ce-downgrade {
  .main-content {
    padding: 0 !important;

    h3, h4 {
      padding: 1.6rem !important;
    }

    .description {
      padding: 0 1.6rem !important;
    }

    .section {
      margin: 0 !important;
    }

    .features {
      display: flex;
      flex-wrap: wrap;

      width: 100%;

      .card {
        flex: 1 1 50%;

        height: unset;
        max-width: 50%;

        cursor: default;

        padding: 1.6rem;

        border-bottom: 1px solid var(--Workspace-Dividers);

        &:hover,
        &:active {
          background: none;
          box-shadow: none;
        }
      }
    }

    .input.checkbox {
      padding: 0 1.6rem !important;
    }
  }
}