.mfa-policy-settings {
    display: flex;
    flex-direction: column;
    
    .form, .radiolist-alt {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
    }
    .input.radio {
      display: flex;
      align-items: center;
      margin-right: 0;
  
      label p {
        font-weight: normal;
      }
  
      .radio-text {
        padding-left: 1.6rem;
      }
    }
}