.page.administration {
  .mfa-settings {
    .main-content {
      display: flex;
      flex-direction: column;
    }

    .provider-section {
      & > * {
        margin-bottom: 1.6rem;
    }
      .description.enabled {
        display: none;
      }

      &.enabled {
        .description {
          &.disabled {
            display: none;
          }
          &.enabled {
            display: block;
          }
        }
      }
    }
    .input.password {
      max-width: 63rem;
      margin-top: 1.2rem;
  }
  }
}
