#password-expiry-form-advanced, #password-expiry-settings-form {
  margin: 0;
  .radiolist-alt .input.radio {
    margin: 1.6rem;
  }

  #expiry-notification .content {
    align-items: center;
  }
}
