
.password-policies-settings {
    .title {
        &.title--required::after {
            content: '*';
            color: @rosso-corsa;
            margin-left: .4rem;
          }
    }

    .singleline > span {
        position: relative;
        top: 0.6rem;
    }

    .accordion-header button {
        border-bottom: 0;

        .svg-icon {
          margin-right: 0.4rem;;
        }
    }

    .button-group--nowrap {
        width: 60%;
        margin-bottom: 1.2rem;
    }

    .default-provider {
        display: inline-flex;

        p, .select-container {
            margin-top: auto;
            margin-bottom: auto;
        }

        .select-container {
            margin-left: 1rem;
        }
    }

    .estimated-entropy {
        label {
            margin-bottom: 1.6rem;
        }
        & > .password-complexity:last-child {
            margin-bottom: 4.8rem;
        }

        .error-message {
            margin-bottom: 1.7rem;
        }
    }

    .passwords-settings .checkbox {
        margin-top: 2.4rem;
        margin-bottom: 2.4rem;
    }

    #accordion-toggle-password, #accordion-toggle-passphrase {
        font-weight: bold;
    }

    .warning p {
        margin: 0;
    }

    p {
        margin-top: 1.6rem;
        margin-bottom: 1.6rem;
    }

    label {
        margin-bottom: 1.6rem;
    }
}

.grid .row .password-policies-settings hr {
    margin-left: 0;
    margin-right: 0;
    height: 0.1rem;
    background-color: @workspace-title-border;
    border: none;
}
