.accordion {
    .accordion-header {
        .clearfix();

        a {
            display:block;
        }
        a:hover, button:hover {
            color:@text-focus-color;
        }
    }

    h3.accordion-header {
      a, button {
        line-height: 3.2rem;
        border-bottom: 1px solid @default-border;
        .svg-icon {
          margin-right:.4rem;
        }
      }
    }

    .accordion-content {
        .clearfix();

        .processing-wrapper {
            display: flex;
            align-items: center;
            margin: 0 0 0 3.2rem;

            .processing-text {
                position: relative;
                margin-left: .5rem;
            }
        }
    }
    &.closed {
        .accordion-content {
            display: none;
        }
    }
}
.dialog .accordion, .login .accordion {
    &.accordion-section {
      border-top:1px solid @dialog-divider-border;
      padding: 1.6rem;
      margin: 0;
    }
    .accordion-header {
        margin-bottom: 1.2rem;
        h4 {
          margin:0;
          display:block;
          button {
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 2.1rem;
            width: 100%;
            justify-content: space-between;
          }
        }
        button {
            display: flex;
            align-items: center;
            border-bottom: 0;

            .svg-icon {
                margin-left:.5rem;
            }
        }
    }
}
.accordion.sidebar-section {
    .svg-icon.exclamation {
        --icon-exclamation-background-color: @icon-exclamation-required-color;
    }

    .accordion-header {
        button {
            border:0;

            .svg-icon {
              margin-right: .8rem;
              &.exclamation {
                position: relative;
                right: inherit;
                margin-left: .8rem;
                padding-right: .3rem;
              }
            }
        }
    }
}

.accordion.navigation-secondary {
    .accordion-content > .empty-content {
      padding: 0 0 0 3.2rem;
    }
}

.dialog-wrapper .error-details .accordion-content textarea{
    font-size: 1.6rem;
    height: 12rem;
}