/*
 * Comment thread with add/edit form
 */
.panel.aside .comments {
    width: 100%;

    /* mini fixed fluid 2 columns layout */
    .wrap-right-column {
        float: left;
        width: 100%;
    }
    .right-column {
        margin-left: 4.2rem;
    }
    .left-column {
        float: left;
        width: 4.2rem;
        margin-left: -100%;
    }

    .comment {
        padding-bottom: 1.6rem;
        .clearfix();

        p {
            background: @comment-background;
            padding: 1.6rem;
            margin-left: 1.6rem;
            margin-top: 0;
            border-radius: .3rem;
        }

        /* picture */
        .author.picture {
            width: 4.2rem;
            height: 4.2rem;
            margin-top: .4rem;

            img {
                width: 4.2rem;
                height: 4.2rem;
            }
            button {
                border: 0;
            }
        }

        /* username and date */
        .metadata {
            font-style: italic;
            margin: .8rem 0 0 1.6rem;

            .author.username {
                max-width: 48%;
                float: left;
                .ellipsis();
            }
            .author.username:after {
                content: ', ';
            }
            .modified {
                max-width: 48%;
                padding-right: .2rem;
                padding-left: .4rem;
                color: @text-lighter-color;
                .ellipsis();
            }
        }

        /* actions */
        .form-content {
            margin-left: 1.6rem;

            .metadata {
              margin: -1.2rem 0 0 0;
            }

            .actions {
              margin-top: .4rem;
            }
        }
        .actions {
            float: right;
            margin-top: -2rem;
            margin-right: 0;
        }

        /* triangle bubble */
        p:before {
            content: ' ';
            position: absolute;
            width: 1px;
            height: 1px;
            border-top: 1rem solid transparent;
            border-bottom: 1rem solid transparent;
            border-right: 1rem solid @comment-background;
            margin-left: -2.6rem;
        }
        button.delete-comment {
            display: flex;
            justify-content: center;
            border: 0;
            padding: 0;
            width: 2.2rem;
            height: 2rem;
        }

        &.from-suspended-user {
            opacity: 0.5;
        }
    }
}