/*
  	Copy secret component
  		This is what is used to copy a secret in the clipboard
*/
.secret-copy {
    > button {
        display: block;
        border: 0;

        &:hover {
            color: @text-secret-hover-color;
        }
        > span {
          display: none;
        }

        &:before, &:after {
          font-family: 'Passbolt', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 1.8rem;
          line-height: 100%;
        }
    }

    > pre {
        display: none;
    }

    &.secret-password {
      > button:before {
        content: 'BBBBBBBBB';
      }
    }

    &.secret-totp {
      > button {
        &:before {
          content: 'BBB';
        }
        &:after {
          margin-left: .5rem;
          content: 'BBB';
        }
      }
    }
}
