/* tags */
.tag-editor, .tags-list {
    .tag {
        float: left;
        position: relative;
        margin: 0 .5rem .5rem 0;
        text-decoration: none;
        border-radius: .2rem;
        border: 1px solid @tag-border;
        background: @tag-background;
        color: @tag-text-color;

        &:active,
        &:hover {
            border: 1px solid @tag-hover-border;
            background: @tag-hover-background;
            color: @tag-hover-text-color;
        }
    }
}

.tags-list {
    .clearfix();

    .tag-list-item{
        display: flex;
        float: left;
        max-width: 95%;
    }
    .tag {
      padding: .4rem .6rem;
      width: 100%;
    }
}
.tag-editor {
    .tag {
      display: flex;
      align-items: center;
      padding: .5rem;
      margin-left: .5rem;
      max-width: 95%;
    }
    .tag-content {
        margin-right: .5rem;
    }
    .tag-delete {
        border-left: 1px solid rgba(@tag-border, .5);
        cursor: pointer;

      .svg-icon {
          margin-left: .5rem;
        }
    }
    .tag-editor-input-wrapper {
        .clearfix();
        min-height: 7rem;
        padding: .7rem .8rem .2rem .3rem;
        background: @input-background;
        border: .1rem solid @input-border;
        border-radius: .4rem;
        position: relative;

        &:focus-within {
           border-color: @tag-editor-focus-border;
        }
    }

    .tag-editor-input {
        min-height: 2.1rem;
        padding: .6rem .6rem 0 .8rem;
        box-shadow: none;
        min-width: 6rem;
        max-width: 31rem;
        float: left;
        word-break: break-word;
    }

    .autocomplete-suggestions {
        text-align: left;
        cursor: default;
        border: 1px solid @default-border;
        border-top: 0;
        background: @dropdown-background;
        filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, @shadow-opacity-dropdown));
        border-radius: 0 0 .4rem .4rem;
        position: absolute;
        display: inline-flex;
        z-index: 99;
        max-height: 10.5rem;
        overflow: hidden;
        overflow-y: auto;
        box-sizing: border-box;

        .autocomplete-content.scroll {
            overflow-y: auto;

            .name.ellipsis {
                display: block;
            }

            .autocomplete-item-loading {
              margin: .5rem .6rem;
            }
        }

        .autocomplete-suggestion.row {
            position: relative;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: @default-text-color;
            display: block;
            padding: .5rem .6rem; /* align autocomplete suggestion with tag input */
            border: 0;

            button {
              line-height: 1.9rem;
              font-size: 1.4rem;
              font-weight: 400;
              max-width: 100%;
              .item {
                width: 100%;
              }
            }

            &.selected {
                background: @dropdown-item-hover-background;
            }
        }
    }
}
