/*
	Tooltips Portal
*/
/* Tooltip Portal container */
.tooltip-portal {
  display: flex;
  cursor: pointer;

  // Tooltip focus
  &:focus, :focus-visible {
    outline: 0;
  }

  span {
    .ellipsis();
  }
}

/* Tooltip text */
.tooltip-portal-text {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  max-width: 24rem;
  width: max-content;
  padding: .4rem .8rem;
  background: var(--Tool-tip-Tool-tip-background);
  color: var(--Tool-tip-Tool-tip-text);
  border-radius: var(--Menu-radius);
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: normal;
  text-align: left;

  &::after {
    content: " ";
    position: absolute;
    border: .5rem solid transparent;
  }

  /* only right for now */

  &.top {
    &::after {
      left: calc(50% - 5px);
      top: 100%;
      border-top-color: var(--Tool-tip-Tool-tip-background);
    }
  }

  &.right {
    &::after {
      bottom: calc(50% - 5px);
      right: 100%;
      border-right-color: var(--Tool-tip-Tool-tip-background);
    }
  }

  &.bottom {
    &::after {
      right: calc(50% - 5px);
      bottom: 100%;
      border-bottom-color: var(--Tool-tip-Tool-tip-background);
    }
  }

  &.left {
    &::after {
      top: calc(50% - 5px);
      left: 100%;
      border-left-color: var(--Tool-tip-Tool-tip-background);
    }
  }

  .folder-level span.caret {
    margin-right: .5rem;
  }

  // Specific style for resource uris badge.
  &.additional-uris {
    padding: 0;
    .list-uris {
      display: block;
      max-height: 10rem;
      padding: .4rem .8rem;
      overflow-y: auto;
      scrollbar-width: thin;
      scrollbar-color: var(--Workspace-Elevator) transparent;

      button.link {
        > span {
          display: block;
        }
        &:after {
          background-color: var(--Tool-tip-Tool-tip-text);
        }

        &:link, &:visited {
          color: var(--Tool-tip-Tool-tip-text);
        }

        &:active, &:hover {
          color: var(--Tool-tip-Tool-tip-text);
          box-shadow: none;
          border: none;
          cursor: pointer;
          &::after {
            background-color: var(--Palette-Contrast-1);
          }
        }

        &:focus, &:focus-visible {
          box-shadow: none;
          border: none;
          cursor: pointer;
          &::after {
            background-color: var(--Palette-Contrast-1);
            box-shadow: 0 0 .4rem 0 var(--States-Focus);
          }
        }
      }

      span.link {
        cursor: default;
      }

      .link {
        display: block;
        color: var(--Tool-tip-Tool-tip-text);
        font-size: 1.1rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: .5rem;
        max-width: 100%;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}